@import "fonts.css" screen;
* {margin: 0;padding: 0;text-decoration: none;}
body {
	overflow-x: hidden;
}
header {
	min-height: 100vh;
	background-image: url(../images/bg.png);
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom:50px;
}
.wp {
	display: block;
	margin: 0 auto;
	width: 1307px;
	position: relative;
	
}
.logo {
	width: 237px;
	height: 87px;
	background-image: url(../images/logo.png);
	display: inline-block;
}
nav {
	float: right;
	
}
nav a {
	font-family: MuseoSansCyrl-900;
	color: #fff;
	padding: 10px 20px;
	margin: 30px 5px 0 0;
	border-radius: 100px;
	display: inline-block;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
nav a:hover {
	background-color: #fff;
	color: #172b62;
}
.top_hd {
	border-bottom: 2px solid rgba(255,255,255,.05);
	min-height: 90px;
	padding: 10px 0;
}
.title_hd {
	margin: 0 auto;
	width: 700px;
	text-align: center;
	margin-top: 20vh;
}
.title_hd h1 {
	font-family: MuseoSansCyrl-900;
	font-size: 115px;
	color: rgb(255, 252, 0);
	text-shadow: 0px 1px 3px rgba(16, 46, 72, 0.004);
}
.title_hd h2 {
	font-family: MuseoSansCyrl-900;
	font-size:35px;
	color: rgb(254, 255, 255);
 	text-shadow: 0px 1px 3px rgba(16, 46, 72, 0.004);
 	text-transform: uppercase;
 	margin-top: -25px;
}
.title_hd p {
	font-family: MuseoSansCyrl-300;
	font-size: 18px;
	color: rgb(95, 144, 188);
	 text-shadow: 0px 1px 3px rgba(16, 46, 72, 0.004);
}
a.btn_1 {
	font-size: 15px;
	font-family: MuseoSansCyrl-700;
	margin: 15px;
	color: rgb(90, 145, 206);
	text-transform: uppercase;
	display: inline-block;
	background-color: rgba(13, 46, 58, .5);
	border-radius: 100px;
	 width: 260px;
  height: 60px;
  line-height: 60px;
  border: 2px solid transparent
}
a.btn_1:hover {
	border: 2px solid rgb(42, 90, 109)
}
a.btn_2 {
	font-family: MuseoSansCyrl-900;
	background-color: rgb(255, 252, 0);
  box-shadow: 0px 1px 3px 0px rgba(19, 57, 86, 0.004);
  width: 534px;
  height: 69px;
  display: inline-block;
  line-height: 69px;
  font-size: 20px;
  color: #000;
  border-radius: 100px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
a.btn_2:hover {
	box-shadow: inset 0px -3px 0px 0px rgba(194, 192, 0, 0.004);
}
h1.title_block {
	font-size: 51px;
	color: rgb(0, 128, 209);
	font-family: MuseoSansCyrl-900;
	text-align: center;
	text-transform: uppercase;
	margin-top: 100px;
	position: relative;
	padding-bottom: 25px;
}
h1.title_block:after {
	content: '';
	position: absolute;
	left: 47%;
	bottom: 0;
	background-color: #e3e3e2;
	width: 66px;
  height: 2px;
}
p.des_block {
	font-family: MuseoSansCyrl-500;
	font-size: 15px;
	color: #000;
	text-align: center;
	margin-top: 25px;
}
ul#advantage {margin-top: 60px;display: inline-block;}
ul#advantage li {
	float: left;
	width: 25%;
	list-style: none;
	text-align: center;
	height: 320px;
	position: relative;
	
}
ul#advantage li .icon {
	width: 154px;
  height: 154px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 128, 209, .4);
  box-shadow: 0px 0px 30px rgba(0, 128, 209, .4);
  margin-bottom: 40px;
  position: relative;
 }
ul#advantage li:after {
	content: '';
	width: 1px;
  height: 46px;
  background-color: #e3e3e2;
  position: absolute;
  right: 0;
  top: 50px;
  display: block;  
}
ul#advantage li:nth-child(4):after {display: none;
}
ul#advantage li .icon:after {
	content: '';
	position: absolute;
	left: 45px;
	top: 40px;
	height: 70px;
	width: 70px;
	background-color: red
}
ul#advantage li:nth-child(1) .icon:after {background: url('../images/spritesheet.png') no-repeat -89px -15px;}
ul#advantage li:nth-child(2) .icon:after {background: url('../images/spritesheet.png') no-repeat -15px -99px;}
ul#advantage li:nth-child(3) .icon:after {background: url('../images/spritesheet.png') no-repeat -169px -15px;width: 74px;height: 74px;}
ul#advantage li:nth-child(4) .icon:after {background: url('../images/spritesheet.png') no-repeat -15px -15px;}
ul#advantage li h2 {
	font-family: MuseoSansCyrl-900;
	font-size: 25px;
	text-transform: uppercase;
	color: rgb(0, 128, 209);
	position: relative;
	padding-bottom: 25px;
}
ul#advantage li h2:after {
	content: '';
	position: absolute;
	left: 41%;
	bottom: 0;
	width: 55px;
	height: 1px;
	background-color: #e4e4e4
}
ul#advantage li p {
	font-family: MuseoSansCyrl-500;
	font-size: 15px;
	margin-top: 25px;
	padding: 0 10px;
}
a.btn_bl2 {
 font-family: MuseoSansCyrl-900;
font-size: 20px;
-webkit-transition: .5s;
-o-transition: .5s;
transition: .5s;
   width: 340px;
  height: 78px;
 display: table;
 margin: 70px auto;
 text-align: center;
 line-height: 78px;
 text-transform: uppercase;
 background-color: #007ecf;
 border-radius: 100px;
 color: #fff;
}
a.btn_bl2:hover {
-webkit-box-shadow: 0 0 20px rgba(155, 214, 255, 1);
box-shadow: 0 0 20px rgba(155, 214, 255, 1);
}
section#block3 {
	background-image: url(../images/bg3.png);
	background-repeat: no-repeat;
	background-position-y:230px;
	-webkit-background-size: 100% 623px;
	background-size: 100% 623px;
	min-height: 880px;
}
.phone {margin-left: -180px;margin-top: 80px;float: left;margin-bottom: -60px;}
ul.employment {
	float: right;
	width: 600px;
    position: absolute;
    right: 0;
    top: 300px;
    list-style: none;
    
}
ul.employment li {
	height: 146px;
	margin-bottom: 20px;
}
ul.employment li .images {
	width: 146px;
  height: 146px;
  float: left;
  margin-right: 20px;
  background: url('../images/spritesheet.png') -10px -191px;
}
ul.employment li:nth-child(2) .images {background: url('../images/spritesheet.png') -172px -191px;}
ul.employment li:nth-child(3) .images {background: url('../images/spritesheet.png') -268px -10px;}
ul.employment li h1 {
	position: relative;
	text-transform: uppercase;
	color: #fff;
	 font-family: MuseoSansCyrl-900;
	 padding-left: 12px;
	 font-size: 18px;
	 display: inline-block;
	 margin-top: 30px;
}
ul.employment li h1:before {
	content: '';
	position: absolute;
	left:0;
	top: 7px;
	height: 5px;
	width: 5px;
	background-color: #fff;
	border-radius: 100px
}
ul.employment li p {
	font-family: MuseoSansCyrl-500;
	font-size: 15px;
	color: #9ad7fa;
}
ul.employment li p a {color: #fff;}

footer {display: inline-block;width: 100%;}
.text_footer {
	font-family: MuseoSansCyrl-500;
	font-size: 18px;
	text-align: center;
	width: 781px;
	display: block;
	margin: 35PX auto;
}
hr {opacity: .2;}

@media only screen  and (max-width: 1224px) {
.wp, .title_hd, .text_footer {width: 100%;}
.phone {width: 100%;}
}
@media only screen and (min-width : 280px) and (max-width : 850px) {
header {min-height: auto !important;padding-bottom: 75px;}
nav {float: none;}
ul#advantage li {width: 100%;height: auto;margin-bottom: 25px;}
.phone, hr {display: none;}
ul.employment {width: 100%;display: block;
position: static;
float: none;margin-top: 20px;}
.top_hd {text-align: center;}
a.btn_2 {width:95%;}
h1.title_block {font-size: 160%}
ul.employment li {height: auto;padding-left: 15px;text-align: center;}
ul.employment li .images {display: block;
margin: 0 auto;
float: none;}
section#block3 {
	background-image: none;
	background-color: #36a5f9;
	padding-top: 7px;
	padding-bottom: 7px;
}
section#block3 h1.title_block {color: #fff;}
.title_hd h1 {font-size: 5em;margin-bottom: 5px;}
* {max-width: 100%;}
}