@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro Semibold';
    src: url('../fonts/MyriadPro-Semibold.eot');
    src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Semibold.woff') format('woff'),
        url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

*{
	margin:0;
	padding:0;
	letter-spacing:normal;
	text-decoration:none;
	position:relative;
	color: #000;
	font-weight: normal;
	letter-spacing: 1.2px;
}
body{
	font:16px 'Myriad Pro',sans-serif;
	background-color:#fff;
	position:relative;
	overflow-x: hidden;
}
.container {
	display:block;
	margin:0 auto;
	width:100%;
	max-width:1050px;
}

.css_sprites:after{
	background-image: url(../images/css_sprites3.png);
	content: '';
}
section[id*="#"] {
	display: inline-block;
	width: 100%;
}
section#header_menu {
	text-align: center;
	background-color: #9b9b9b;
}
section#header_menu a {
	color: #fff;
	text-transform: uppercase;
	margin: 0 60px;
	padding: 10px 0;
	display: inline-block;
	
}

section#header_content_informer .container div {
	display: inline-block;
	vertical-align: middle;
}
section#header_content_informer .container div:nth-child(2) {
	padding-left: 20px;
}
section#header_content_informer .container div:nth-child(3) {
	padding-left: 70px;
}
section#header_content_informer .phone a {
	color: #000;
	font-size: 24px;
}
section#header_content_informer .phone p {margin:0 0 7px;}
section#header_content_informer .phone a span {font-size: 18px}
section#header_content_informer .href_map a {
	font-size: 18.45px;
	padding-left: 45px;
	line-height: 19px;
	min-height: 30px;
	display: inline-block;
}
section#header_content_informer .href_map a:after {
	content: '';
	position: absolute;
	left: 0;
	top: -15px;
	width: 34px; height: 47px;
    background: url('../images/css_sprites3.png') -250px -140px;
}
section#header_content_informer .choice_btn a.btn_help {
	font-size: 22px;
	background-color: #da923c;
	width: 100%;
	max-width: 311px;
	display: inline-block;	
 	text-align: center;
 	padding: 18px 15px 20px;
 	color: #fff;
 	font-weight: 600;
}

header {
	background-image: url(../images/header_bg.png);
	padding-bottom: 25px;
}
header h1.title_page {
	text-transform: uppercase;
	font-size: 47.44px;
	text-align: center;
	color: #fff;
	padding: 37px 0 47px;
}
form.booking {
	width: 100%;
	max-width: 620px;
	display: inline-block;
	text-transform: uppercase;
}
form.booking h2 {
	font-size: 19px;
	margin-bottom: 13px;
}
form.booking .booking_left_form {
	float: left;
	width: 50%;
	background-color: rgba(255,255,255,.7);
	padding: 15px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 304px;
}
form.booking .booking_date_arrival:after {
	content: '';
	position: absolute;
	right: 0px;
	top: 0;
	height: 100%;
	width: 3px;
	background-color: #000;
}
form.booking .booking_left_form h3 {
	text-align: center;
	font-size: 21.53px;
	margin-bottom: 20px;
}
form.booking .booking_left_form .booking_date_arrival {
	float: left;
	width: 50%;
	text-align: center;
	padding-bottom: 6px;
}
form.booking .booking_left_form .booking_date_departure {
	float: right;
	width: 50%;
	text-align: center;
	padding-bottom: 6px;
	padding-left: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}
form.booking .booking_left_form .booking_date_departure select, form.booking .booking_left_form .booking_date_arrival select {
	width: 100%;
	border: none;
	background-color: transparent;
	text-align: center;
	  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form.booking .booking_left_form select.class_day, form.booking .booking_left_form select.class_day_plus {
	font-size: 116px;
	padding: 5px 0 15px;
}
form.booking .booking_right_form {
	float: right;
	width: 50%;
	background-color: rgba(0,0,0,.5);
	padding: 20px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 304px;
}
form.booking .booking_right_form label:nth-child(1) {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
form.booking .booking_right_form label:nth-child(1) span {
	display: inline-block;
	width:75%;
	color: #fff;
	font-size: 16.5px
}
form.booking .booking_right_form label:nth-child(1) input {
	display: inline-block;
	width: 20%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: bottom;
}
form.booking .booking_right_form label:nth-child(2), form.booking .booking_right_form label:nth-child(3) {
	margin-top: 13px;
	display: inline-block;
	width: 100%;
	padding: 0 30px 0 13px;
}
form.booking .booking_right_form label:nth-child(2) input, form.booking .booking_right_form label:nth-child(3) input {
	text-transform: uppercase;
	color: #fff;
	font-size: 17px;
	padding: 10px 11px;
	border: 2px solid #fff;
	background-color: rgba(90,90,90,.5);
	-webkit-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.55);
-moz-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.55);
box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.55);
}
form.booking .booking_right_form label.resolution {
	margin: 15px -15px;
	width: calc(100% + 15px);
	display: inline-block;
	font-size: 9px;
	color: #fff;
	padding-left: 25px;
	letter-spacing: 0;
}
form.booking .booking_right_form label.resolution:after {
	content: '';
	position: absolute;
	left: 0;
	top: -3px;
	width: 22px; height: 22px;
    background: url('../images/css_sprites3.png') -302px -140px;
}
form.booking .booking_right_form button {
	display: inline-block;
	width: 100%;
	max-width: 272px;
	text-align: center;
	border: none;
	color: #fff;
	text-transform: uppercase;
	background-color: #5279b2;
	font-size: 25px;
	height: 47px;
	 text-shadow: 0px 2px 2px rgba(0, 2, 3, 0.75);
	 line-height: 47px;
}

main {
	background-image: url(../images/bg_main.png);
}
main h1.tagline {
	font-size: 36px;
	text-align: center;
	padding: 28px 0 23px; 	
}
main .item {
	display: inline-block;
	width: 100%;
	margin-bottom: 40px;
}
main .item .item_content {
	background-color: #fff;
	padding: 25px 25px 35px;
	width: 75%;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
}
main .item .item_content .image {
	width: 100%;
	max-width: 352px;
	overflow: hidden;
}
main .item .item_content .image, .item_info {
	display: inline-block;
	vertical-align: text-top;
	
}
main .item .item_content .item_info {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 25px;
	width: 50%;
}
main .item .item_content .item_info h3.title {
	font-size: 43px;
	margin-bottom: 28px;
}
main .item .item_content .item_info p {
	font-size: 20px;
	color: #646464;
}
main .item .item_content .item_info a.scheme {
	font-size: 24px;
	color: #e50000;
	margin: 15px 0 15px;
	display: block;
	
}
main .item .item_content .item_info a.more_btn {
	color: #fff;
	font-size: 30px;
	width: 100%;
	text-align: center;
	display: block;
	background-color: #da913c;
	padding: 5px 0 7px;
	
}
main .item .item_additional {
	float: right;
	width: 25%;
}
main .item_additional div {
height: 68px;
width: 100%;
display: block;
text-align: left;
padding: 0 72px 0 10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
margin-bottom: 1.5px;
font-size: 17.6px;
padding-top: 18px;
}
main .item_additional div span {
	color: #de0000;
}
main .item_additional div:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	height: 68px;
	width: 68px;
}
main .item_additional div.kreml:after {
    background-position: -369px -108px;
}
main .item_additional div.underground:after {
    background-position: -196px -260px;
}
main .item_additional div.tram:after {
    background-position: -20px -260px;
}
main .item_additional div.bus:after {
    background-position: -108px -260px;
}
main .item_additional div.on_foot:after {
    background-position: -369px -20px;
}

 h2.title_block {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	padding: 36px 0 50px;
}
section#advantages {
	display: inline-block;
	width: 100%;
}
section#advantages .item_advantages .item {
	width: 20%;
	float: left;
	text-align: center;
	padding: 110px 0px 0;
	vertical-align: text-top;
		
}
section#advantages .item_advantages .item:after {
	height: 90px;
	width: 90px;
	position: absolute;
	left: calc(100% - 145px);
	top: 0;
}
section#advantages .item_advantages .item:nth-child(1):after {
	background-position: -140px -140px;

}
section#advantages .item_advantages .item:nth-child(2):after {
	background-position: -141px -30px;

}
section#advantages .item_advantages .item:nth-child(3):after {
	background-position: -30px -140px;

}
section#advantages .item_advantages .item:nth-child(4):after {
	background-position: -250px -30px;

}
section#advantages .item_advantages .item:nth-child(5):after {
	background-position: -30px -30px;

}
section#advantages .item_advantages .item h3 {
	color: #373c42;
font-family: 'Myriad Pro Semibold';
font-size: 16px;
line-height: 23px;
height: 46px;
display: block;
overflow: hidden;}
section#advantages .item_advantages .item p {
	font-family: 'Myriad Pro Semibold';
	font-size: 14.2px;
	color: #74757a;
	margin-top: 25px;
	line-height: 20px;
}
section#advantages .item_advantages .item:before {
	content: '';
	position: absolute;
	right: -30%;
	top:40px;
	height: 1px;
	width: 50%;
	background: -moz-linear-gradient(45deg, rgba(220,220,220,0) 0%, rgba(220,220,220,0.8) 15%, rgba(220,220,220,1) 19%, rgba(220,220,220,1) 20%, rgba(220,220,220,1) 50%, rgba(220,220,220,1) 80%, rgba(220,220,220,1) 81%, rgba(220,220,220,0.8) 85%, rgba(220,220,220,0) 100%);
background: -webkit-linear-gradient(45deg, rgba(220,220,220,0) 0%,rgba(220,220,220,0.8) 15%,rgba(220,220,220,1) 19%,rgba(220,220,220,1) 20%,rgba(220,220,220,1) 50%,rgba(220,220,220,1) 80%,rgba(220,220,220,1) 81%,rgba(220,220,220,0.8) 85%,rgba(220,220,220,0) 100%);
background: linear-gradient(45deg, rgba(220,220,220,0) 0%,rgba(220,220,220,0.8) 15%,rgba(220,220,220,1) 19%,rgba(220,220,220,1) 20%,rgba(220,220,220,1) 50%,rgba(220,220,220,1) 80%,rgba(220,220,220,1) 81%,rgba(220,220,220,0.8) 85%,rgba(220,220,220,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dcdcdc', endColorstr='#00dcdcdc',GradientType=1 );
}
section#advantages .item_advantages .item:nth-child(5):before {display: none;}

#map {
	width: 100%;
	height: 500px;
}

footer {
	padding: 30px 0;
}
footer .logo_hotel {
	display: inline-block;
vertical-align: text-bottom;
	width: 63%;
}
a.hotel_1, a.hotel_2{
    display: inline-block;
}
a.hotel_1 img, a.hotel_2 img {
	width: 100%;
	display: inline-block;
}
a.hotel_1 {padding-right: 4%;}
a.hotel_1:after {
	content: '';
	position: absolute;
	right: 0;
	top: -10px;
	width: 1px;
	height: 101px;
	background-color: #000;
}
footer .footer_phone {
	display: inline-block;
vertical-align: text-bottom;
	width: 35%;
	text-align: center;
	
}
footer .footer_phone p {
	font-size: 32px
}
footer .footer_phone a {
	background-color: #da923c;
	color: #fff;
	text-align: center;
	width: 100%;
	max-width: 322px;
	padding: 15px 0;
	display: inline-block;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 700;
	margin-top: 5px;
}
section#footer_menu {
	background-color: #bababa;
	text-align: center;
	padding: 22px 0 17px;
	display: inline-block;
	width: 100%;
	margin-bottom: -5px;
}
section#footer_menu a {
	display: inline-block;
	padding:0 3px;
	font-size: 14px;
	color: #373c42;
}
section#footer_menu a:after {
	content: '/';
	position: absolute;
	right: -6px;
	top: 0;
	color: #5279b2;
}
section#footer_menu a:last-child:after {display: none}



/*  Hotel Page  */

body.page_hotel section#header_menu a {
	margin: 0 40px;
}
.href_map p.route {
	color: #5279b2;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 7px;
}

body.page_hotel section#header_content_informer .href_map a:after {top: 0;}

body.page_hotel .logo_page_hotel, body.page_hotel .choice_btn {
    width: 25%;
    padding: 10px 0 !important;
}
body.page_hotel .href_map {width: 45%;}

.choice_btn a.mail {
	display: block;
	font-size: 18px;
	color: #9b9b9b;
}
.choice_btn a.tel {
	display: block;
	font-size: 28px;
	color: #000;
}
.choice_btn a.btn_feedback {
	display: block;
	width: 100%;
	max-width: 220px;
	text-align: center;
	color: #000;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,.5);
background-color: #d6ff68;
}

body.page_hotel header {
	background-image: url(../images/hotel_bg_page.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
body.page_hotel h1.title_page {
	text-align: left;
	color: #d6ff68;
	font-size: 30px;
  text-shadow: 0px 3px 2px rgba(0, 2, 3, 0.75);
  padding: 15px 0;
}


body.page_hotel main {
	background-image: none;
}
h2.title_hotel_page {
	color: #373c42;
	font-size: 36px;
	text-align: center;
	padding: 15px 0 10px;
}
h3.desc_hotel_page {
	color: #5279b2;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
}
.room_item {
	display: inline-block;
	width: 100%;
}
.room_item .item {
	width: 100%;
	max-width: 331px;
	height: 546px;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
border-radius: 7px;
vertical-align: text-top;
margin-top: 40px;
}
.room_item .item:nth-child(3n+2) {
	margin: 40px 20px 0;
}
.room_item .item h2 {
	font-size: 18px;
	text-align: right;
	padding: 16px 11px 13px;
}
.slick-arrow {
	position: absolute;
	top: calc(50% - 27.5px);
	background: url('../images/css_sprites3.png') no-repeat -289px -264px;
	width: 54px;
	height: 55px;
	border: none;
	color: transparent;
	background-color: transparent;
	z-index: 99;
}
.slick-arrow:hover {
	cursor: pointer;
	
}
.slick-prev.slick-arrow {
	left: 5px;
	-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}
.slick-next.slick-arrow {
	right: 5px;
}

.image_slider {
    width: 100%;
    height: 255px;
    overflow: hidden;
}

.image_slider img {
	width: 100%;
}

.informer {
	font-size: 14.7px;
	background-color: #5279b2;
	padding: 13px 16px 70px;
border-radius: 0px 0px 7px 7px;
-moz-border-radius: 0px 0px 7px 7px;
-webkit-border-radius: 0px 0px 7px 7px;
}
.informer p.title {
	font-weight: 700;color: #fff;
}
.informer p.text {
	color: #c8dcff;
	font-size: 12.86px;
	font-weight: 700;
}
.informer p.text:nth-child(2) {
	margin-bottom: 10px;
}

.price {
	background-color: #91a9bd;
  text-align: center;
  text-shadow: 0px 3px 5px rgba(0, 2, 3, 0.75);
  color: #fff;
  font-size: 28px;
  width: 150px;
  padding: 9px 0;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
position: absolute;
left: -15px;
top: 80px;
z-index: 99;
}
a.booking_link, a.btn_booking_red {
	position: absolute;
	left: calc(50% - 124.5px);
	bottom: -20px;
	padding: 15px 0;
	background-color: #d6ff68;
	text-transform: uppercase;
	text-align: center;
	font-size: 21.5px;
	 width: 240px;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
font-weight: 600;
}
a.booking_link:active {
	background-color: #d5ac63;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.9);
-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.9);
box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.9);
}
span[id*="timer-separator"] {color: #000 !important;}

.stock {
	width: 195px;
	height: 61px;
	background-image: url(../images/stock.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	left: -12.5px;
	top: 30px;
}
.item_hover {
	height: 100%;
}

p.text_hover {
	text-align: center;
	letter-spacing: 2px;
	padding-top: 140px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16.5px;
	margin-bottom: 70px;
}
a.btn_booking_red {
	width: 226px;
	background-color: #c32e33;
	font-size: 22.5px;
	font-weight: 700;
}

.services_item_blocks {
	width: 32%;
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
}
.services_item_blocks .item {
	height: 45px;
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 13px;
	padding: 13px 0 0 95px;
}
.services_item_blocks .item:after {
	content: '';
	position: absolute;
	left: 80px;
	bottom: 0;
	height: 100%;
	width: 2px;
	background-color: #000;
}
.services_item_blocks .item:before {
	content: '';
	background-image: url(../images/css_sprites3.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;
}
.services_item_blocks .item_1:before {
	background-position: -96px -359px;
	width: 49px;
	height: 48px;
}
.services_item_blocks .item_2:before {
	background-position: -314px -359px;
	width: 58px;
	height: 35px;
}
.services_item_blocks .item_3:before {
	background-position: -242px -359px;
	width: 52px;
	height: 40px;
}
.services_item_blocks .item_4:before {
	background-position: -467px -147px;
	width: 35px;
	height: 51px;
}
.services_item_blocks .item_5:before {
	background-position: -10px -359px;
	width: 66px;
	height: 52px;
	left: -15px;
}
.services_item_blocks .item_6:before {
	background-position: -467px -10px;
	width: 46px;
	height: 46px;
}
.services_item_blocks .item_7:before {
	background-position: -165px -359px;
	width: 57px;
	height: 40px;
}
.services_item_blocks .item_8:before {
	background-position: -467px -76px;
	width: 35px;
	height: 51px;
	left: 15px;
	top: -4px;
}
.services_item_blocks .item_8, .services_item_blocks .item_1 {padding-top: 3px;}
.services_item_blocks .item_9:before {
	background-position: -467px -218px;
	width: 46px;
	height: 40px;
	left: 10px;
	top: 5px;
}
.hotel_carousel img {
	width: 100%;
	height: 355px;
	border-radius: 10px 0px 10px 0px;
-moz-border-radius: 10px 0px 10px 0px;
-webkit-border-radius: 10px 0px 10px 0px;
opacity: .75;
}
.hotel_carousel  .slick-center img {
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 15px 5px rgba(255,255,255,1);
box-shadow: 0px 0px 15px 5px rgba(255,255,255,1);
transform:matrix(2,0.00,0.00,1.00,0,-25);
-ms-transform:matrix(2,0.00,0.00,1.00,0,-25);
-webkit-transform:matrix(2,0.00,0.00,1.00,0,-25);
height: 400px;
z-index: 99;
-webkit-transition: 1s;
-o-transition: 1s;
transition: 1s;
opacity: 1;
}
.hotel_carousel .slick-track{
	padding-top: 50px;
}
.hotel_carousel .slick-list {
	overflow-x: hidden;
	
}
.hotel_carousel .slick-arrow {
	position: absolute;
	top: 200px;
	background: url('../images/css_sprites3.png') no-repeat -411px -336px;
	width: 34px;
	height: 64px;
	border: none;
	color: transparent;
	background-color: transparent;
	z-index: 99;
}
.hotel_carousel .slick-prev.slick-arrow {
	left:125px;
	-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}
.hotel_carousel .slick-next.slick-arrow {
	right: 125px;
}
section#carousel {
	margin-top: 15px;
	height: 522px;
	overflow: hidden;
}
h3.title_hotel_page_desc {
	font-family: 'Myriad Pro Semibold';
	font-size: 16.5px;
	color: #373c42;
	text-align: center;
	margin-bottom: 40px;
}
.title_about {
	text-align: center;
	font-family: 'Myriad Pro Semibold';
	font-size: 24.5px;
	padding: 20px 0;
	background-image: url(../images/text_about.png);
	margin-bottom: 20px;		
}
.title_about span {color: #fff;}
#about_hotel h2.title_hotel_page {padding: 45px 0 20px;}
p.about_text {
	font-family: 'Myriad Pro Semibold';
	font-size: 18px;
}

ul.sps_about {
	list-style: none;
	width: 55%;
	display: inline-block;
	font-family: 'Myriad Pro Semibold';
	-webkit-box-shadow: 0px 0px 13px 18px rgba(0,0,0,.17);
-moz-box-shadow: 0px 0px 13px 18px rgba(0,0,0,.17);
box-shadow: 0px 0px 18px 13px rgba(0,0,0,.17);
padding-bottom: 15px;
margin-bottom: 15px;
z-index: 3;
}
ul.sps_about  li.title {
	text-align: center;
	font-size: 18px;
	background-color: #91a9bd;
	padding: 15px 0;
	text-transform: uppercase;
	margin-bottom: 15px;
}
ul.sps_about  li {
	padding: 5px 17px 0 17px;
}
img.about_image {
	display: inline-block;
	width: 43%;
	z-index: 2;
	top: 5px;
}
.bookibg_form_map {
	display: inline-block;
	position: absolute;
	z-index: 99;
	margin-top: 20px;
}

section#map_content form.booking {
	max-width: 304px;
}
section#map_content form.booking .booking_left_form, section#map_content form.booking .booking_right_form {
	float: none;
	width: 100%;
}
body.page_hotel #map {
	width: 100%;
	min-height: 650px;
}
.footer_logo_prt {
	display: inline-block;
	width: 74%;
}
.footer_logo_prt img.hotel_101 {
	margin-left: 150px;
	top: 20px;
}
.footer_logo_prt img {
	vertical-align: sub;		
}
footer .choice_btn {
	display: inline-block;
	width: 38%;
}

.footer_copy {
	float: left;
	width: 30%;
	font-size: 14px;
	color: #373c42;
	text-align: left;
}
.footer_copy a {
color: #5279b2 !important;
font-size: 14px !important
}
.footer_menu_page {
	float: right;
	width: 70%;
	text-align: left;
}
.footer_menu_page a {
	float: left;
	padding: 0 3px 0 0 !important;
	line-height: 50px;
}
.footer_menu_page a:after {
	right: -2px !important;
}
body.page_hotel section#footer_menu {
	padding: 22px 0 0;
}

body.page_hotel  section#header_menu {z-index: 4;}
body.page_hotel section#header_content_informer {
	-webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.4);
box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.4);
z-index: 3;
}


/* Booking Page */
body.booking main {
	background-image: url(../images/bg_main.png);
}

main .bookig_page {
	display: inline-block;
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 22px 28px;
	margin-bottom: 25px;
}
main .bookig_page h1 {
	text-align: center;
	font-size: 30px;
	letter-spacing: 2.5px;
}
form#booking_page_form h2 {
	color: #5279b2;
	font-size: 30px;
	margin-top: 25px;
	text-transform: uppercase;
	
}
form#booking_page_form h3 {
	font-size: 24px;
	margin:10px 0;
}
form#booking_page_form label p {
	font-size: 12px;
	margin-bottom: 5px;
}
form#booking_page_form label input {
	color: #828282;
	font-size: 13px;
	padding: 10px 35px 10px 10px;
	border: 2px solid #828282;
	font-family: 'Myriad Pro';
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}
form#booking_page_form label.input_date, form#booking_page_form label.input_text {
	display: inline-block;
	width: 100%;
	max-width: 255px;
	margin-right: 22px;
}
form#booking_page_form label.input_text {margin-top: 20px;}
form#booking_page_form label.input_date:after {
	content: '';
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: url('../images/css_sprites3.png') no-repeat -303px -199px;
	width: 21px;
	height: 22px;
}
.wp_input {
    margin-left: 33px;
}
label.num_people_text {
	display: inline-block;
	width: 100%;
	max-width: 255px;
	margin-right: 23px;
	margin-top: 30px;
	font-size: 15px;
	letter-spacing: 2px;
}
label.input_num  {
	display: inline-block;
	width: 110px;
}
label.input_num input {
	padding: 8px 10px !important;
	font-size: 19px !important;
	color: #000 !important;
}
.checkbox_btn {
	display: inline-block;
	margin-right: 10px;
}
.checkbox input[type=checkbox] { 
	display: block;
width: 19px;
height: 19px;
opacity: 0; 
z-index: 99;
} 


.checkbox input[type=checkbox] + label:before { 
	content: "";
	background: url('../images/css_sprites3.png') no-repeat -377px -201px;
	width: 19px;
	height: 19px;
	position: absolute;
	left: 0;
	top: -4px;
}

.checkbox input[type=checkbox]:checked + label:before { 
	content: "";
	background: url('../images/css_sprites3.png') no-repeat -422px -201px;
	width: 19px;
	height: 19px;
	position: absolute;
	left: 0;
	top: -4px;
}

.checkbox {margin-top: 20px;}
.checkbox span{
	font-size: 9.2px;
	color: #5279b2;
	text-transform: uppercase;
	vertical-align: super;
}
.img_room {
	width: 100%;
	max-width: 192px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.img_room img:nth-child(1) {
	width: 100%;
	height: 130px;
}
.img_room img:nth-child(2) {
	width: calc(50% - 5px);
	height: 65px;
	margin: 5px 2.5px 0 0;
	display: inline-block;
}
.img_room img:nth-child(3) {
	width: calc(50% - 5px);
	height: 65px;
	margin: 5px 0 0 2.5px;
	display: inline-block;
}
.option_room {
	display: inline-block;
	width: 100%;
	max-width: 400px;
}
.button_checkbox_option_room div {
	display: inline-block;
	margin-right: 5px;
}
.checkbox_uzu img{
display: inline-block;
margin-right: 5px;
}
.checkbox_uzu span {
	display: inline-block;
	background-color: #91a9bd;
	text-align: center;
	padding: 5px;
	color: #fff;
	font-size: 13.2px;
}
.option_room input[type="radio"] {
	width: 100%;
	height: 100%;
	z-index: 99;
	display: block;
	opacity: 0;
	position: absolute;
}
.option_room input[type="radio"]:checked + [for*="box2_"] .redio_elven {
background-color: #5279b2;
}
.option_room input[type="radio"]:active + [for*="box2_"] .redio_elven {
background-color: #bb0202;
}
.room_text_option {margin-top: 15px;}
.room_text_option p.title {
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}
.room_text_option p {
	font-size: 14px;
}
.price_num {
	font-size: 14px;
	display: inline-block;
	width: 100%;
	margin-top: 25px;
}
.price_num p{
	font-size: 24px;
}
a.btn_booking_page_btn {
	color: #505050;
	background-color: #d6ff68;
	width: 100%;
	max-width: 233px;
	padding: 15px 0;
	display: inline-block;
	font-size: 18.5px;
	text-transform: uppercase;	
	text-align: center;
	margin-top: 20px;
}
form#feedback_popup {
	width: 100%;
	max-width: 280px;
	display: inline-block;
	
}
form#feedback_popup h2 {
	font-size: 36px;
	color: #5279b2;
	text-align: center;
}
form#feedback_popup p {
	font-size: 14px;
	text-align: center;
	margin: 0;
	padding: 0 10px;
}
form#feedback_popup input {
	border: 2px solid #828282;
	font-size: 18px;
	color: #000;
	padding: 15px 10px;
	display: block;
	width: 100%;
	margin-top: 16px;
}
form#feedback_popup button {
	font-size: 25px;
	color: #fff;
	border: none;
	background-color: #5279b2;
	text-align: center;
	padding: 20px 0;
	width: 100%;
	text-transform: uppercase;
	margin-top: 16px;
}

/* Hotel #7 */
body.hotel_7 header {
	background-image: url(../images/hotel_bg_page_7.png);	
}
body.hotel_7 .choice_btn a.btn_feedback {background-color: #dd3d3c;}
body.hotel_7 h1.title_page {color: #fff;}
body.hotel_7 section#map_content button {background-color: #dd3d3c;}
body.hotel_7 header form.booking .booking_right_form button {background-color: #6a6079;}
body.hotel_7 footer .choice_btn a.btn_feedback {background-color: #6a6079;} 
body.hotel_7 .logo_page_hotel img {width: 100%;}
body.hotel_7 section#header_content_informer .href_map a:after {background-position: -538px 0;width: 40px;height: 58px;top: -1px;}
body.hotel_7 a.back_to_hotels {max-width: 249px;font-size: 18.4px;text-align: center;background-color: rgba(255,255,255,.7);border-radius: 5px;text-transform: uppercase;padding: 10px 10px 10px 50px;position: absolute;right: 0;bottom: 0;}
body.hotel_7 a.back_to_hotels:after {
	content: '';
	position: absolute;
left: 8px;
top: 6px;
	background: url('../images/css_sprites3.png') no-repeat -367px -276px;
	width: 34px;
	height: 27px;
}
body.hotel_7 h3.desc_hotel_page {text-align: right;color: #969797;}
body.hotel_7 .price {background-color: #373844;}
body.hotel_7 .informer {background-color: #373844;}
body.hotel_7 a.booking_link, a.btn_booking_red {background-color: #6a6079;}
body.hotel_7 .item_stocks {
	width: 100%;
	height: auto;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
border-radius: 7px;
}
body.hotel_7 p.text_hover {padding-top: 35px;font-size: 19px;letter-spacing: 3px;line-height: 25px;margin-bottom: 0;}
body.hotel_7 .flr_stock {padding: 0 10% 0 30%;}
body.hotel_7 .item_stocks a.btn_booking_red {position: static;background-color: #dd3d3c;margin-left: 15px;padding: 15px;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.5);}
body.hotel_7 .stocks_num {
    display: inline-block;
    margin: 15px 0;
    vertical-align: middle;
}

body.hotel_7 .services_item_blocks .item_1:before {
	background-position: -1190px 0;
}
body.hotel_7 .services_item_blocks .item_2:before {
	background-position: -1118px 0;
}
body.hotel_7 .services_item_blocks .item_3:before {
	background-position: -1254px 0;
}
body.hotel_7 .services_item_blocks .item_4:before {
	background-position: -1533px 0;
		width: 38px;
	height: 52px;
}
body.hotel_7 .services_item_blocks .item_5:before {
	background-position: -1322px 0;
}
body.hotel_7 .services_item_blocks .item_6:before {
	background-position: -1586px 0;
	width: 48px;
	height: 49px;
}
body.hotel_7 .services_item_blocks .item_7:before {
	background-position: -1455px 0;
	width: 63px;
	height: 55px;
}
body.hotel_7 .services_item_blocks .item_8:before {
	background-position: -1403px 0;
	width: 37px;
	height: 54px;
}
body.hotel_7 .services_item_blocks .item_9:before {
	background-position: -1649px 0;
	width: 54px;
	height: 43px;
}

body.hotel_7 section#advantages .item_advantages .item:nth-child(1):after {
	background-position:-697px 0;

}
body.hotel_7 section#advantages .item_advantages .item:nth-child(2):after {
	background-position: -1013px 0;

}
body.hotel_7 section#advantages .item_advantages .item:nth-child(3):after {
	background-position: -592px 0;

}
body.hotel_7 section#advantages .item_advantages .item:nth-child(4):after {
	background-position: -908px 0;

}
body.hotel_7 section#advantages .item_advantages .item:nth-child(5):after {
	background-position: -803px 0;

}

body.hotel_7 .title_about {background-image: url(../images/text_about_2.png);-webkit-background-size: cover;
background-size: cover;}
body.hotel_7 ul.sps_about li.title {background-color: #6a6079;}

@media (max-width: 1050px) {
	body.hotel_7 .flr_stock {
    padding: 0 1% 0 30%;
}
a.hotel_1, a.hotel_2 {
    display: inline-block;
    width: 48%;
}
a.hotel_1 {
    padding-right: 2%;
}
section#header_content_informer .container div:nth-child(2), section#header_content_informer .container div:nth-child(3) {
    padding-left: 0;
}
section#header_content_informer .phone a {
    font-size: 21px;
}
main .item .item_content .image {
    max-width: 49%
}
.choice_btn a.tel {font-size: 25px}
body.page_hotel section#header_menu a, section#header_menu a {margin: 0 10px;}
.room_item .item, .room_item .item:nth-child(3n+2) {
	max-width: 40%;
	margin: 4%;
}
.services_item {
    padding: 0 15px;
}
.footer_copy, .footer_menu_page {
	width: 100%;
	float: none;
	text-align: center !important;
}
.footer_menu_page a {float: none;}
.footer_logo_prt {width: 65%;}
section#header_content_informer .href_map a {padding-left: 40px;font-size: 16px}
body.page_hotel .logo_page_hotel, body.page_hotel .choice_btn {
	padding: 15px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}
body.page_hotel .logo_page_hotel img {width: 100%;}
.choice_btn a.tel {
    font-size: 22px;
}
}
@media (max-width: 900px) {
   .choice_btn, section#header_content_informer .choice_btn a.btn_help, ul.sps_about, .footer_logo_prt {width: 100%;max-width: 100%;}
   .footer_logo_prt {text-align: center;}
	body.page_hotel .logo_page_hotel, body.page_hotel .choice_btn {width: 100%;
	text-align: center;
	margin-top: 25px;}
   form.booking h2 {padding: 0 15px;}
   form.booking .booking_right_form label:nth-child(1) span {font-size: 15.5px}
   main .item .item_additional, section#advantages, body.hotel_7 a.back_to_hotels {display: none;}
   main .item .item_content, footer .logo_hotel, footer .footer_phone {width: 100%;}
   #map {height: 250px;}
   body.page_hotel section#header_content_informer {text-align: center;}
   .choice_btn a.btn_feedback {margin: 5px auto;}
   body.page_hotel h1.title_page {font-size: 23px;padding: 15px;}
   .room_item .item, .room_item .item:nth-child(3n+2) {max-width: 92%;height: auto;}
   .image_slider img {
    width: 100%;
    height: 100%;
}
.services_item_blocks {width: 49%;}
.services_item .services_item_blocks:nth-child(3) {
	width: 100%;margin-top: 0;
}
.services_item .services_item_blocks:nth-child(3) .item{
	width: 49%;
}
.about_content {
	padding: 15px;
}
img.about_image {display: block;
margin: 0 auto;}
.footer_menu_page a {line-height: 25px;}
p.text_hover {margin-bottom: 20px;}
.item_hover {padding-bottom: 50px;}
a.booking_link, a.btn_booking_red {left: calc(50% - 113px);}
body.page_hotel section#header_menu a, section#header_menu a {
    margin: 0 5px;
}
body.page_hotel section#header_menu a, section#header_menu a {font-size: 15px}
body.page_hotel .logo_page_hotel img {width: 45%;}
form#booking_page_form h2 {font-size: 25px}
.wp_input {
    margin-left: 0;
    padding: 0 15px;
}
.option_room {max-width: 50%;}
.button_checkbox_option_room div {margin-right: 0;
width: 48%;}
}
@media (max-width: 600px) {
    section#header_menu a{font-size: 14px}
    section#header_content_informer .container div {width: 100%;padding: 0 15px;}
    section#header_content_informer .phone a {font-size: 18px}
    section#header_content_informer .href_map a {padding: 15px 0 0 55px;}
	section#header_content_informer .href_map a:after {left: 15px;top: -3px;}
	section#header_content_informer .choice_btn a.btn_help {padding: 18px 0px 20px;}
	form.booking .booking_left_form, form.booking .booking_right_form, form.booking .booking_right_form label:nth-child(2) input, form.booking .booking_right_form label:nth-child(3) input, form.booking .booking_right_form button, main .item .item_content .image, main .item .item_content .item_info, .services_item_blocks, .services_item_blocks .item, .img_room, .option_room, a.btn_booking_page_btn {max-width: 100%;width: 100% !important;	}
	form.booking .booking_right_form label:nth-child(2), form.booking .booking_right_form label:nth-child(3) {-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}
	main .item .item_content .item_info {padding-left: 0;}
	footer .footer_phone {margin-top: 20px;}
	header {-webkit-background-size: cover;
	background-size: cover;}
	section#header_content_informer .href_map a {
    padding: 15px 40px 0;
}
section#header_content_informer .href_map a:after, section#footer_menu a::after {display: none;}
.footer_logo_prt img.hotel_101, .wp_input {margin-left: 0;}
main .bookig_page {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.img_room {margin-bottom: 15px;}
.img_room img:nth-child(1) {height: 170px;}
.img_room img:nth-child(2), .img_room img:nth-child(3) {height: 110px;}
}
@media (max-width: 400px) {
    section#footer_menu a:after, .bookibg_form_map {display: none; }
    section#header_content_informer .phone a {font-size: 100%}
    body.page_hotel #map {height: 250px;}
    .image_slider {height: auto;
    margin-bottom: -5px;}
    .room_item .item, .room_item .item:nth-child(3n+2) {margin: 25px 4%;}
}