@font-face {
    font-family: 'RF Krabuler';
    src: url('../fonts/RF-Krabuler-Regular.eot');
    src: url('../fonts/RF-Krabuler-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RF-Krabuler-Regular.woff2') format('woff2'),
        url('../fonts/RF-Krabuler-Regular.woff') format('woff'),
        url('../fonts/RF-Krabuler-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quiza Pro';
    src: url('../fonts/QuizaPro-Regular.eot');
    src: url('../fonts/QuizaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/QuizaPro-Regular.woff2') format('woff2'),
        url('../fonts/QuizaPro-Regular.woff') format('woff'),
        url('../fonts/QuizaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	position: relative;
	text-decoration: none;
	font-weight: normal;
	
}
a {
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
a:hover {
	opacity: .8;
}
body {
	overflow-x: hidden;
	background-color: #fff;
	height: auto;
	color: #4c6473;
	font-family: 'RF Krabuler';
}
img {max-width: 100%}
.container {
	max-width: 1200px;
	display: block;
	margin: 0 auto;
}
header {
	display: inline-block;
width: 100%;
padding-bottom: 180px;
	background-image: url(../img/bg_11.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	padding-top: 10px;
	font-size: 24px;
}
header:before {
	content: '';
	position: absolute;
	width: 60%;
	height: 100%;
	right: 0;
	top: 0;
	background-image: url(../img/bg_1_header.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.logo {
	 color: rgb(70, 95, 111);
	 background-image: url(../img/logo.png);
	 background-repeat: no-repeat;
	 height: 112px;
	 display: inline-block;
	 padding-left: 90px;
padding-top: 20px;
font-size: 21px
}
.call_num {
	color: #fff;
	display: inline-block;
	background-image: url(../img/call_header.png);
	 background-repeat: no-repeat;
	 height: 70px;
padding-left: 70px;
margin-left: 85px;
padding-top: 7px;z-index: 9;	
}
.call_num span {
	font-size: 16px;
	display: block;
}
.call_btn {display: inline-block;top: -15px;}
.call_btn a {
	background-color: #f7d9b9;
	border-radius: 50px;
	text-align: center;
	padding: 15px 23px;
	font-size: 18px;
	color: #2c2405;
	margin-left: 50px;z-index: 9;
}
.call_btn a:after {
	content: '';
	position: absolute;
	left: -5px;
	top: -5px;
	background-color: transparent;
	width: calc(100% + 5px);
	height: calc(100% + 5px);
	border-radius: 50px;
	border: 2px solid #f7d9b9;
	z-index: 8;
}
.call_btn a:before {
	content: '';
background: url('../img/sprite.png') no-repeat -10px -10px;
	width: 54px;
	height: 54px;
	position: absolute;
	left: -38px;
	top:0;
	z-index: 9;
}
nav {display: inline-block;margin-left: 50px;margin-top: 15px;z-index: 9;}
a.btn_menu {
	width: 105px;
	height: 104px;
	background-image: url(../img/menu_btn.png);
	display: inline-block;
}
.left_header {
	float: left;	
width: 60%;
z-index: 9;
}
.right_header {
	width: 40%;
	float: right;
	
}
.right_header img{
width: 150%;

position: absolute;

top: -100px;

left: -150px;

z-index: 8;

max-width: none !important;
}
h1.title {
	color: #4c6473;
	font-size: 70px;
}
h1.title:after {
	content: '';
	position: absolute;
	left: 300px;
top: 50px;
	 width: 225px;
  height: 3px;
	background-color: rgb(255, 216, 53);
}
h2.des {
    font-size: 33px;
    color: rgb(76, 100, 115);
    margin-top: 20px;
}
h3.cen {
	font-size: 72px;
	margin: 30px 0;
  color: rgb(76, 100, 115);
}
h3.cen span {color: #f6b5b4}
header h4 {
	font-size: 24px;
	color: #465f6f
}
header h4 span {
	font-size: 30px;
	color: rgb(246, 181, 180);
	display: block;
	
}
a.btn_fuc {
	background-color: rgb(246, 181, 180);
	width: 412px;
  height: 68px;
  color: #fff;
  text-align: center;
  font-size: 19px;
  border-radius: 50px;
  display: inline-block;
  line-height: 68px;
  margin-top: 30px;
}
h2.title_block {
	font-size: 45px;
	text-align: left;
	
}
h2.title_block div {
	display: block;
	margin: 0 auto; 
	width: 600px;
}
h2.title_block div:after {
	content: '';
	 background-color:#f6b5b4;
  position: absolute;
 left: -120PX;
top: 56PX;
  width: 90px;
  height: 4px;
}
section#b1 {min-height: 800px;margin-bottom: 130px;}
section#b2 {
	background-color: #edf6ff;
	min-height: 900px;
	padding-top: 150px;
}
section#b2:before {
	content: '';
	position: absolute;
	left: 0;
	top: -300px;
	background-image: url(../img/bg_2.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top left;
	width: 100%;
	height: 927px;
}
ul.sebeb {list-style: none;}
ul.sebeb li {float: left;width: 25%;}
ul.sebeb li div.img {
	display: block;
	  border-style: solid;
  border-width: 2px;
  border-color: rgb(253, 211, 59);
  border-radius: 50%;
  background-color: rgba(253, 211, 59, 0);
text-align: center;
  width: 160px;
  height: 160px;
  margin: 0 auto 30px;
  background-color: #fff;
}
ul.sebeb li div.img img {top: 50px}
ul.sebeb li div.img:before {
	content: '';
	background: url('../img/sprite.png') no-repeat -143px -10px;
	width: 58px;
	height: 58px;
	position: absolute;
	right: -10px;
	top: -10px;
}
ul.sebeb li:nth-child(2) div.img:before {background-position: -211px -10px;}
ul.sebeb li:nth-child(3) div.img:before {background-position: -279px -10px;}
ul.sebeb li:nth-child(4) div.img:before {background-position:-347px -10px;}

ul.sebeb li span {
	text-align: center;
	display: block;
	 font-family: 'Quiza Pro';
	 font-size: 21px;
}
ul.sebeb li:nth-child(1), ul.sebeb li:nth-child(2) {top: 200px;}
ul.sebeb li:after {
	content: '';
	background: url('../img/sprite.png') no-repeat -421px -10px;
	width: 114px;
	height: 18px;
	position: absolute;
	right: -55px;
top: 25%;
}
ul.sebeb li:nth-child(4):after {display: none;}
ul.sebeb li:nth-child(2):after {-moz-transform: rotate(328deg);
-webkit-transform: rotate(328deg);
-o-transform: rotate(328deg);
-ms-transform: rotate(328deg);
transform: rotate(328deg);top: 17%;}
ul.sebeb li:nth-child(3) {top: 70px;}
ul.sebeb li:nth-child(4) {top: 310px;right: 30px;}
ul.sebeb li:nth-child(3):after {background-position: -545px -10px;width: 80px; height: 76px;top: 55%;}

section#b2 ol {
	list-style: none;
	background-image: url(../img/wall_bg2.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position-y: 250px;
	background-repeat: no-repeat;
	font-family: 'Quiza Pro';
	font-size: 18px;
  color: rgb(76, 100, 115);
  margin-top: 100px;
  min-height: 600px;
  z-index: 9;
}
section#b2 ol:before {
    content: '';
    position: absolute;
    left: 180px;
    top: 30px;
    background-image: url(../img/wall_bg2_kr1.png);
    -webkit-background-size: cover;
    background-size: cover;
    height: 550px;
    width: 350px;
    background-repeat: no-repeat;
    
}
section#b2 ol:after {
	content: '';
	position: absolute;
left: 450px;
top: 230px;
background-image: url(../img/wall_bg2_kr2.png);
-webkit-background-size: cover;
background-size: 100%;
height: 308px;
width: 525px;
background-repeat: no-repeat;

}
section#b2 ol li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../img/sprite.png);
	background-position: -945px -10px;
	width: 145px;
	height: 119px;
	
}
section#b2 ol li:nth-child(2):before {background-position: -1100px -10px;}
section#b2 ol li:nth-child(3):before {background-position: -1255px -10px;}
section#b2 ol li:nth-child(4):before {background-position: -635px -10px;left: auto;right: 0;}
section#b2 ol li:nth-child(5):before {background-position: -790px -10px;left: auto;right: 0;}

section#b2 ol li {width: 33%;
padding-left: 80px;
min-height: 119px;}
section#b2 ol li:nth-child(1) {left: 10%;margin-bottom: 20px;}
section#b2 ol li:nth-child(2) {margin-bottom: 25px;}
section#b2 ol li:nth-child(3) {}
section#b2 ol li:nth-child(4) {left: 55%;
padding-left: 0;
padding-right: 80px;
text-align: right;top: -300px;}
section#b2 ol li:nth-child(5) {left: 60%;
padding-left: 0;
padding-right: 80px;
text-align: right;top: -230px;}
.link_block2 {text-align: center;z-index: 8;top: -55px;}
a.link_kons, a.link_vozm {
	text-align: center;
	color: #fff;
	font-size: 19px;
	display: inline-block;
	  width: 270px;
  height: 103px;padding-top: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #56b2e9;
background: -moz-linear-gradient(top, #56b2e9 0%, #abd9f5 100%);
background: -webkit-linear-gradient(top, #56b2e9 0%,#abd9f5 100%);
background: linear-gradient(to bottom, #56b2e9 0%,#abd9f5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56b2e9', endColorstr='#abd9f5',GradientType=0 );
border-radius: 50px
}
 a.link_vozm {background: #ee8281;
background: -moz-linear-gradient(top, #ee8281 0%, #f6b5b4 100%);
background: -webkit-linear-gradient(top, #ee8281 0%,#f6b5b4 100%);
background: linear-gradient(to bottom, #ee8281 0%,#f6b5b4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8281', endColorstr='#f6b5b4',GradientType=0 );margin-left: 15px;}

section#b3 {
	padding-top: 400px;
	padding-bottom: 100px;
}
section#b3:before {
	content: '';
	position: absolute;
	left: 0;
	top: -250px;
	width: 100%;
	height: 1103px;
	background-image: url(../img/bg_3.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
section#b3:after {
	content: '';
	position: absolute;
	right: 15px;
	top: -55px;
	width: 299px;
	height: 710px;
	background-image: url(../img/mal.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 0;
}
section#b3 .title_block div span {
	font-size: 30px;
	display: block;
	margin-top: 5px;
}
section#b3 h2.title_block div:after {top: 30px;}
.sortir {float: right;right: 250px;
top: -50px;}
.sortir .block_short {
	background: url('../img/sprite.png') no-repeat -1470px -10px;
	width: 49px;
	height: 49px;
	display: block;
	display: inline-block;
	margin-right: 25px;
	
}
.sortir .lin_short {
	width: 50px;
	height: 49px;
	background: url('../img/sprite.png') no-repeat -1410px -10px;
	display: block;
	display: inline-block;
	
}
.goods {display: inline-block;
width: 100%;
text-align: center;
z-index: 1;
}
.goods .category a{
	background-color: #abd9f5;
	 width: 186px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  padding: 20px 60px;
  font-size: 18px;
  color: rgb(76, 100, 115);
  margin: 0 7px;
}
.goods .category a.active {
	background-color: #f6b5b4;
	color: #fff;
}
.shortstory_line {
	width: 100% !important;
}
.shortstory {
	display: inline-block;
	width: 33%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}
.shortstory div {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 20px
}
.shortstory div h2 {
	 font-family: 'Quiza Pro';
	  color: rgb(76, 100, 115);
	  font-size: 21px;
	  padding: 5px 0;
}
a.more, a.order {
	background-color: #f6b5b4;
	color: #fff;
	padding: 13px 35px;
	display: inline-block;
	border-radius: 50px;
	font-size: 17px;
	float: left;
}
a.order {
	background-color: transparent;
	border: 2px solid #abd9f5;
	color: rgb(76, 100, 115);
	font-size: 18px;
	float: right;
	
}

section#b4 {
	background-image: url(../img/bg_4.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 900px;
	padding-top: 200px;
	z-index: 9;
}
section#b4 h2.title_block div, section#b8 h2.title_block div {
	width: 700px;
margin-top: 25px;
	color: #fff;
}
section#b4 h2.title_block div:after {
	background-color: #fdd33b;
	top: 30px;
}
.slick-next, .slick-prev {
	background: url('../img/sprite.png') no-repeat -1661px -10px;
	width: 132px;
	height: 129px;
	border: none;
	position: absolute;
	left:400px;
	bottom: 0;
}
.slick-prev {
background-position: -1519px -10px	;
left: 290px;
}
.slick-prev:hover {
	background-position:-2205px -10px;
}
.slick-next:hover {
	background-position:-2347px -10px;
}
.slider.multiple-items {
	text-align: center;
	padding-bottom: 150px;
	margin-top: 50px;
}
section#b5 {
	padding-top: 330px;
	margin-top: -300px;
	background-color: #edf6ff;
	z-index: 8;
	padding-bottom: 240px;
}
section#b5:before {
	content: '';
	background-image: url(../img/baby2.png);
	-webkit-background-size: cover;
	background-size: cover;
	width: 506px;
	height: 563px;
	position: absolute;
	right: 0;
	top: 50px;
}
section#b5 h2.title_block div::after {top: 30px;}

ul.options {margin-top: 150px;}
ul.options li {
	list-style: none;
	display: inline-block;
}
ul.options li:nth-child(2):after, ul.options li:nth-child(2):before {
	content: '';
	position: absolute;
	right:-160px;
	top:5px;
	background: url('../img/sprite.png') no-repeat -1803px 0;
	width: 191px;
	height: 69px;
}
ul.options li:nth-child(2):before {
	right: auto;
	left:-170px;
	background-position:-2004px 0;
}
ul.options li p {
	font-size: 30px
}
ul.options li a {
	background-color: #abd9f5;
	padding: 15px 35px;
	text-align: center;
	font-size: 21px;
  color: rgb(76, 100, 115);
  border-radius: 50px;
  left: 210px;
top: -190px;
}
ul.options li:nth-child(1) {
	left: 30px;
	margin-left: -30px;
}
ul.options li:nth-child(1) p {top: -65px;left: 25px;}
ul.options li:nth-child(2) {
	margin-left: 180px;
top: 50px;
}
ul.options li:nth-child(2) p {
	top: -45px;
left: 20px;
}
ul.options li:nth-child(3) {margin-left: 130px;
top: -40px;}
ul.options li:nth-child(3) p {left: 45px;top: -50px;}

section#b6 {
	background-image: url(../img/bg_6.png);
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 900px;
	margin-top: -220px;
z-index: 9;
display: inline-block;
width: 100%;
padding-bottom: 100px;
}
section#b6:after {
	content: '';
	background-image: url(../img/baby3.png);
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	right: 0;
	bottom: 66px;
	width: 450px;
	height: 325px;
}
section#b6 h2.title_block {
	color: #fff;
	margin-top: 160px;
}
section#b6 h2.title_block div {
	width: 750px;
	font-size: 41px;
	margin: 0 0 0 180px;
}
section#b6 h2.title_block span {
	font-size: 30px;
	display: block;
	
}
section#b6 h2.title_block div:after {
	display: none;
	
}
section#b6 .slick-prev {left: 100px;}
section#b6 .slick-next {left: 220px;}
.bed6_tac {
	text-align: center;
}
.bed6 {
	margin: 0 auto;
	display: block;
	top: 50px;
}
a.discount {
	background-color: rgb(171, 217, 245);
	text-align: center;
	color: rgb(25, 25, 25);
	border-radius: 50px;
	padding: 18px 60px;
	font-size: 20px;
	display: inline-block;
	margin-top: 50px;
}

section#b7 h2.title_block {
	margin-top: 50px;
}
section#b7 h2.title_block div {
	width: 750px;
	font-size: 48px;
	margin: 0 0 0 180px;
}
section#b7 h2.title_block span {
	font-size: 35px;
	display: block;
	margin-top:35px
}
iframe {
	width: 100% !important;
	height: auto !important;
	margin-top: 15px;
	min-height: 300px;
}
a.top {position: absolute;
left: 15px;
bottom: 15px;}
.reviews .photo{
	float: left;
	width: 50%;
}
 .reviews .inf {float: right;
 width: 50%;}
 .photo .img_ph {
 	display: inline-block;
 	overflow: hidden;
 	width: 521px;
 	height: auto !important;
 	border-radius: 15px;
 }
 .photo .img_ph:after {
 	content: '';
 	position: absolute;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	background: -moz-linear-gradient(top, rgba(110,80,254,0) 0%, rgba(110,80,254,0.58) 100%);
background: -webkit-linear-gradient(top, rgba(110,80,254,0) 0%,rgba(110,80,254,0.58) 100%);
background: linear-gradient(to bottom, rgba(110,80,254,0) 0%,rgba(110,80,254,0.58) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e50fe', endColorstr='#946e50fe',GradientType=0 );
 }
 p.title {font-size: 48px;margin-bottom: 35px;}
 p.city {font-size: 24px;margin-bottom: 30px;}
 p.inf_goods {font-size: 30px;margin-bottom: 30px;}
 p.desct {font-size: 24px;margin-bottom: 30px;}
 p.text {font-size: 18px;font-family: 'Quiza Pro';margin-bottom: 40px;}
section#b7 {
background: rgb(255,255,255);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,224,255,1) 100%);
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(229,224,255,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(229,224,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e0ff',GradientType=1 );
margin-top: -120px;
padding-top: 120px;
padding-bottom: 150px;
  }
 section#b7 .slick-prev {
 	right: 110px;
 	top: -130px;
 	left: auto;
 }
  section#b7 .slick-next {
  		right: 0;
 	top: -130px;
 	left: auto;
  }
 section#b7 h2.title_block div:after {
 	top: 30px;
 }
 section#b7 .slick-slider:before {
 	content: '';
 	position: absolute;
 	left: 0;
 	bottom: 0;
 	background: url('../img/sprite.png') no-repeat -2538px -17px;
	width: 294px;
	height: 457px;
 }

 section#b8 {
 	background-image: url(../img/bg_8.png);
 	-webkit-background-size: cover;
 	background-size: cover;
 	min-height: 900px;
 	margin-top: -120px;
 	display: inline-block;
 	width: 100%;
 	color: #fff;
 	z-index: 10;
 }
  section#b8 h2.title_block {
 	margin-top: 135px;
 }
section#b8 h2.title_block div:after {
 	background-color: #fdd33b;
 }
 .b8_inform {
 	float: left;
 	width: 55%;
 	left: -100px;
 }
 form.phone_input {
 	float: right;
width: 25%;

color: #4c6473;

text-align: center;

font-size: 19px;

top: -140px;

right: 135px;
 }
  form.phone_input div {line-height: 30px;margin-bottom: 10px;}
form.phone_input input {

    border: 3px solid rgba(32, 19, 96, .28);
    border-radius: 50px;
    font-size: 21px;
    display: block;
    font-family: 'Quiza Pro';
    margin: 20px 20px;
    padding: 10px 15px;
    width: calc(100% - 40px);
    box-sizing: border-box;

}
 form.phone_input button{
background-color: #f6b5b4;

border-radius: 50px;

color: #fff;

border: none;

font-family: 'RF Krabuler';

padding: 15px 0;

font-size: 21px;

width: calc(100% - 55px);
 }
 .text_b8 {
font-size: 22px;
left: 250px;
margin-top: 20px;
 }
.b8_inform ul li{
list-style: none;
font-family: 'Quiza Pro';
font-size: 21px;
    padding: 15px 0 0 115px;
    margin-bottom: 40px;
    left: 250px;
}
 .b8_inform ul li:before {
 	content: '';
 	position: absolute;
 	left: 0;
 	top: 0;
 	background: url('../img/sprite.png') no-repeat -2930px -10px;
	width: 83px;
	height: 85px;
 }
  .b8_inform ul li:nth-child(1):after,  .b8_inform ul li:nth-child(2):after {
  	content: '';
  	position: absolute;
left: -75px;
top: 15px;
  	background: url('../img/sprite.png') no-repeat -3013px 0;
	width: 78px;
	height: 101px;
  }
  .b8_inform ul li:nth-child(2):after {


    transform: rotate(295deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(295deg) scale(1) skew(1deg) translate(0px);
    -moz-transform: rotate(295deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(295deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(295deg) scale(1) skew(1deg) translate(0px);
left: -10px;
top: 74px;
  }
  .b8_inform ul li:nth-child(2) {
  	left: 180px;

margin: 40px 0 40px;
  }
section#b9 {
	background-color: #edf6ff;
	margin-top: -350px;
z-index: 9;
padding-top: 350px;
padding-bottom: 350px;
margin-bottom: -300px;
}
section#b9 .container:before {
	content: '';
	position: absolute;
	right: 0;
	top: -300px;
	background: url('../img/sprite.png') no-repeat -10px -550px;
	width: 381px;
	height: 344px;
}

section#b9 .container h2.title_block {
margin: 70px 0 100px;
}
.vallenato {
display: inline-block;
width: 100%;
}
.vallenato-header {
	padding: 20px 70px;
	font-size: 18px;
}

.vallenato-active {
	border-radius: 4px 4px 0 0;
}

/*Content*/

.vallenato-content {
	overflow: hidden;
	display: none;
	 font-family: 'Quiza Pro';
	 padding: 0px 50px 30px;
}
.vallenato-border {
	border: 3px dotted rgb(253, 211, 59);
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 80px;
	cursor: pointer;
	
}
.vallenato-left {
	float: left;
	width: 44%;
}
.vallenato-right {
	float: right;
	width: 44%;
}
.vallenato-inactive:after {
content: '';
position: absolute;
left: -25px;
top: -45px;
background: url('../img/sprite.png') no-repeat -411px -550px;
	width: 79px;
	height: 81px;
}
.vallenato-active:after {
content: '';
position: absolute;
left: -25px;
top: -45px;
background: url('../img/sprite.png') no-repeat -510px -550px;
	width: 79px;
	height: 81px;	
}
a.a_href_faq {
	text-align: center;
	color: #fff;
	width: 380px;
  height: 62px;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  background-color: #f6b5b4; 
  line-height: 62px;
}

section#b10 {
	display: inline-block;
	width: 100%;
	background-image: url(../img/bg_10.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-top: 20px;
	z-index: 10;
	color: #fff;
	text-align: center;
	padding: 200px 0 150px;
}
.logo_footer {
	background: url('../img/sprite.png') no-repeat -3277px 0;
	width: 68px;
	height: 113px;
	display: block;
	margin: 0 auto;
}
.title_footer_cnt {
	font-size: 48px;
	margin: 80px 0 100px;
	display: block;
	
}
.footer_left_inf {
	float: left;
	width: 50%;
}
.footer_right_inf {
	float: right;
	width: 50%;
}
.footer_left_inf span, .footer_right_inf span {
font-size: 24px;
}
.footer_left_inf span:before, .footer_right_inf span:before {
	content: '';
	position: absolute;
left: -35px;
z-index: -1;
top: -33px;
	background: url('../img/sprite.png') no-repeat -3121px 0;
	width: 68px;
	height: 66px;
}
.footer_right_inf span:before {
	background-position: -3199px 0;
}
.footer_left_inf a:before, .footer_right_inf a:before {
	content: '';
	position: absolute;
	left: -5px;
	top: -5px;
	border: 3.79px dotted rgb(253, 211, 59);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 50px;
}
.footer_left_inf a, .footer_right_inf a {
	color: #4c6473;
	font-size: 18px;
	background-color: #f6b5b4;
	border-radius: 50px;
	text-transform: uppercase;
	padding: 15px 80px;
	top: 40px;
}
.footer_right_inf a {
	background-color: #abd9f5;
}
footer {
	padding: 20px 0;
	color: #4c6473
}
.div_block_footer {
	display: inline-block;
	width: 32%;
	font-family: 'Quiza Pro';
	vertical-align: middle;
	
}
ul.menu_footer li {
	list-style: none;
	display: inline-block;
	
}
footer a.confidentiality {
	border-bottom: 1px solid #4c6473;
	color: #4c6473
}
ul.menu_footer li a{
border-bottom: 1px solid transparent;
color: #4c6473
}
ul.menu_footer li a:hover{
border-bottom: 1px solid #abd9f5
}
ul.menu_footer li:nth-child(2) {
	margin: 0 25px
}
ul.menu_footer li:nth-child(2):after, ul.menu_footer li:nth-child(2):before {
	content: '';
	position: absolute;
	left: -15px;
	top: 8px;
	width: 5px;
	height: 5px;
	background-color: #abd9f5;
	border-radius: 100px;
}
ul.menu_footer li:nth-child(2):after {
	left: auto;
	right: -15px;
}
.p-2 {
	background-color: transparent !important;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url(../img/bg_p_2.png);
	min-height: 614px;
	min-width: 595px;
	max-width: 100%;
	max-height: 100%;
	text-align: center !important;
	color: #fff;
}
p.title_form {
	font-size: 36px;
	margin-bottom: 40px;
}
form.feedback input {
	display: block;
	color: #000;
	border-radius: 50px;
	padding: 15px 30px;
	width: 100%;
	font-size: 19px;
	margin: 0 0 30px;
	border: none;
}
form.feedback button {
background-color: #cde9f7;
color: #172644;
font-size: 18px;
border-radius: 50px;
padding: 20px 45px;
border: none;
font-family: 'RF Krabuler';
}
.feedback {
    padding: 0 50px;
    margin-top: 100px;
}
.p-1 {
	border-radius: 10px;
	min-width: 783px;
  min-height: 500px;
}
.menu {
  position: absolute;
  right: 0;
  top: 200px;
  background-color: #fff;
  height: 200px;
  width: 200px;
}
.menu--open {
	background-color: red;
}
@media (max-width: 1200px) {
	.b8_inform {left: 0;}
	.container {
		padding: 0 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		
	}
header {
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
form.phone_input {right: 50px;}
.vallenato {
	padding: 0 25PX;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
}

@media (max-width: 1100px) {
	ul.options li {width: 25%;}
	section#b6:after {width: 350px;height: 225px;}
	section#b9 .container:before {right: -40px;
top: -250px;}
}

@media (max-width: 1000px) {
	ul.menu_footer li:nth-child(2) {margin: 0 10px;}ul.menu_footer li:nth-child(2):before {left: -9px;} ul.menu_footer li:nth-child(2):after {right: -9px;}
		section#b9 .container:before {right: -80px;top: -250px;}
		section#b8 {
			-webkit-background-size: 115% 130%;
			background-size: 115% 130%;
			background-repeat: no-repeat;
			min-height: auto;
		}
		section#b8 h2.title_block {margin-top: 130px;font-size: 35px;}
		.b8_inform {left: -150px;}
		form.phone_input {font-size: 16px;top: -100px;right: 40px;}
		section#b9 .container:before {display: none;}
}

@media (max-width: 900px) {
	ul.menu_footer li:nth-child(2) {
    margin: 0;
    display: block;
}
ul.menu_footer li:nth-child(2):after, ul.menu_footer li:nth-child(2):before {display: none;}
section#b10 {padding: 120px 0 100px}
.title_footer_cnt {margin: 30px 0 80px}
.photo .img_ph {width: 90%;
height: auto;top: 200px;}
.photo .img_ph {margin-left: 100px;}
ul.options li:nth-child(2) {margin-left: 130px;}
ul.options li a {left: 150px;top: -50px;}
ul.options li:nth-child(3) {margin-left: 100px;}
ul.options li:nth-child(2):after, ul.options li:nth-child(2):before {z-index: -1;}
section#b5::before {width: 356px;top: 150px;height: 413px;}
.sortir {right: 200px;}
section#b3 {padding-top: 100px;}
section#b3:after {width: 199px;
height: 610px;}
a.more, a.order {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 5px;
}
section#b2 ol:before {height: 450px;left: 150px;}
section#b2 ol:after {left: 350px;
width: 400px;
z-index: -1;}
.goods .category a {padding: 20px 40px}
section#b2:before{top: -200px;}
ul.sebeb li:after {z-index: -1;}
h1.title, h3.cen {font-size: 60px}
nav {display: none;}
.logo {    padding-left: 83px;
    padding-top: 30px;
    font-size: 19px;
}
.call_num {margin-left: 5px;}
.call_btn a {padding: 15px 19px;
font-size: 16px;left: 45px;margin-left: 0;}
}

@media (max-width: 800px) {
	.call_num {float: right;
	top: 20px;} .call_btn {float: right;} .call_btn a {left: 0;}
	.link_block2 {top: -120px;} a.link_kons, a.link_vozm {padding-top: 30px;}
	.sortir {right: 170px;}
	.goods .category a {
		width: auto;
		height: auto;
		margin: 0 7px 12px;
		display: inline-block;
		padding: 10px 30px;
	}
	ul.options li:nth-child(2) {margin-left: 100px;}
	ul.options li a {left: 110px;}
	section#b6 h2.title_block div {font-size: 28px;}
	section#b6 h2.title_block span {font-size: 25px;}
	section#b6 h2.title_block {margin-top: 130px;}
	.bed6 {width: 400px;}
	section#b7 h2.title_block div {font-size: 40px}
	.reviews .photo {display: none;}
	.reviews .inf {width: 100%;}
	section#b8 {
		background-image: none;
background-color: #c591cb;
padding: 20px 0;
	}
	section#b8 h2.title_block {margin-top: 0;}
	form.phone_input {width: 35%;
	right: 0;
	color: #fff;}
}

@media (max-width: 700px) {
	ul.sebeb li:after, .slick-next, .slick-prev, form.phone_input div br {display: none !important;}
	ul.sebeb li {
		float: none;
		width: 100%;
		top: 0 !important;
		right: 0 !important;
		left: 0 !important;
		padding: 20px 0 30px;
	}
	.right_header img {top: 0;}
	ul.sebeb li div.img {margin: 0 auto 15px;}
	section#b2:before { top: -150px;}
section#b2 ol:before {
    height: 350px;
    left: 120px;
    width: 260px;
    background-size: 100%;
    top: 60px;
}
section#b2 ol:after {
    left: 300px;
    width: 300px;
    z-index: -1;
    top: 200px;
}
section#b2 ol li:nth-child(5) {left: 55%;}
.link_block2 {
    top: -170px;
    z-index: 10;
}
.sortir {
    right: 200px;top: -130px;
}
.shortstory {width: 45%;}
ul.options li:nth-child(3) {
    margin-left: 80px;
}
section#b6 h2.title_block div {margin: 0 0 0 130px;}
form.phone_input {top: 0;
width: 100%;font-size: 21px}
section#b10 {padding: 150px 0 100px;}
}

@media (max-width: 600px) {
	.right_header, ul.options li:after, ul.options li:before, section#b5:before {display: none !important;}
	.call_btn {
    float: left;
    left: 40px;
    top: 15px;
}
.call_num {
    float: right;
    top: 0;
}
header {padding-bottom: 300px;}
section#b1 {margin-top: -70px;}
section#b4 h2.title_block div, section#b8 h2.title_block div, section#b6 h2.title_block div, h2.title_block div, section#b7 h2.title_block div {max-width: 100%;margin: 0 !important;}
.slick-initialized .slick-slide {padding: 5px !important;}
section#b4 {min-height: auto !important; padding-bottom: 100px;}
ul.options li {
    width: 100%;
    text-align: center;
	left: 0 !important;
	margin-left: 0 !important;
	top: 0 !important;
}
section#b6 h2.title_block div {margin: 0 !important;font-size: 35px}
.vallenato-right, .vallenato-left, .footer_left_inf, .footer_right_inf, .left_header {width: 100%;}
.footer_left_inf, .footer_right_inf {height: 150px;}
section#b10 {-webkit-background-size: cover;
background-size: cover;padding: 150px 0 0;}
.div_block_footer {width: 100%;
margin-bottom: 10px;}
}

@media (max-width: 500px) {
.sortir,.call_btn a {display: none !important;}
.shortstory {
    width: 100%;
}
a.link_kons, a.link_vozm {margin-bottom: 15px;}
section#b2 ol:before {left: 10px;}
section#b2 ol:after {left: 160px;}
section#b2 ol li:nth-child(4), section#b2 ol li:nth-child(5) {left: 50%;}
.call_num {color: #4c6473;}
h1.title, h3.cen, h2.title_block {font-size: 180% !important} 
a.btn_fuc {width: 100%;
height: auto;font-size: 100%}
section#b2:before {top: -70px;}
section#b2 {padding-top: 50px;}

}
@media (max-width: 400px) {
	section#b2 ol:before, section#b2 ol:after, section#b2 ol li:before, section#b3:after, .b8_inform ul li:after {display: none !important;}
	section#b2 ol {
	background-image: none;
	list-style: decimal !important;
	min-height: auto !important
}
section#b2 ol li {
	width: 100% !important;
	left: 0 !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	text-align: left !important;
	padding: 0 !important;
	min-height: auto !important;
	margin-left: 20px;
	margin-bottom: 20px;
}
.call_num {
    color: #4c6473;
    width: 100%;
    float: left;
    text-align: center;
    box-sizing: border-box;
}
.link_block2, section#b3:before {top: 0;}
section#b3 {
    padding-top: 130px;
}
.goods {margin-top: 20px;}
.text_b8 {margin-bottom: 20px;}
.text_b8, .b8_inform ul li {left: 0 !important;}
.b8_inform {left: 0 !important;
width: 100%;}
a.a_href_faq {width: 100%;font-size: 25px}
.footer_left_inf a, .footer_right_inf a {padding: 5% 15%}
}