@import url('../fonts/style.css');
@import url('../fonts/flaticon.css');
:root {
	--gold: #ffeb3b;
}
nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 999;
	color: #fff;
	padding-top: calc(.5em + 1px);
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
	overflow: hidden;
	
}
#nav-menu.nav-menu-fixed {
	position: fixed;
	height: 66px !important;
	padding: .5em 0 !important;
	background-color: rgba(0,0,0,.4);
}
#nav-menu.nav-menu-fixed .burger-menu {	height: calc(100% + 1em + 2px);background: transparent !important;}
#nav-menu.nav-menu-fixed .nav-logo {top: -4px;}
.nav-logo i::before{
font-size: 2.35em;
margin-right: .22em;
margin-left: 1.6em;
}
.nav-logo > div p {
	margin: 0;
}
.nav-logo > div {
	line-height: 1;
    font-size: 21px;
    padding-top: .45em;
}
ul.nav-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
ul.nav-menu li {
	margin-right: 3em;
	padding-top: 1em;
}
ul.nav-menu li a {
	color: #fff;
	font-size: 1.15rem;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	padding: 0 3px;
}
ul.nav-menu li a:hover {color: var(--gold);}
ul.nav-menu li a:after {
	content: '';
	position: absolute;
	left: 0;
	top: -1.5em;
	height: 0;
	width: 100%;
	background-color: var(--gold);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
ul.nav-menu li a:hover:after {height: 4px;}
ul.nav-menu li:before {
	content: '';
	position: absolute;
	right: -1.5em;
	top: 60%;
	width: 5px;
	height: 5px;
	background-color: #fff;
	border-radius: 100%;	
}
ul.nav-menu li:last-child:before {display: none;}

.nav-btns-se-acc {
	justify-content: flex-end;
	padding-left: 0 !important;
	padding-right: 1em !important;
}
a.nav-search-btn i:before, a.nav-account-btn i:before {
	color: #fff;
	font-size: 1.6rem;
	padding-right: 2px;
}
a.nav-search-btn, a.nav-account-btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	color: #fff;
	font-size: .8rem;
	margin-left: 1.5em;
    overflow: hidden;
}
a.nav-search-btn p, a.nav-account-btn p {
 	flex: 3 1 auto;
 	height: 19px;
 	overflow: hidden;
 	width: 0; 	
    transition:width .3s;
    -webkit-transition:width .3s;
    -moz-transition: width .3s;
}
a.nav-search-btn:hover > p, a.nav-account-btn:hover > p {
	width: 115px;
	margin-right: .3em;	
    transition:width .5s;
    -webkit-transition:width .5s;
    -moz-transition: width .5s;
}
a.nav-account-btn:hover > p {width: 107px;margin-right: 0;}
.nav-burger-menu-bg {
	top: -1em;
}
.burger-menu {
	background-color: #decdf9;
	height: calc(100% + 1em + 1px);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}
.burger-menu.active {background-color: #d0c0e8;}
.burger-menu a.burger-menu-btn {
	width: 35px;
	height: 30px;
	-webkit-transform: translateY(.2em);
	-moz-transform: translateY(.2em);
	-ms-transform: translateY(.2em);
	-o-transform: translateY(.2em);
	transform: translateY(.2em);
	padding-top: 5px;
}
.burger-menu a.burger-menu-btn i {
	width: 100%;
	height: 3px;
	background-color: #fff;
	margin-bottom: 6px;
	display: block;
	float: right;
	-webkit-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
}
.burger-menu a.burger-menu-btn i:last-child {
	width: 86%;
}
.burger-menu a.burger-menu-btn.active > i {
	opacity: 0;
	display: none;
}
.burger-menu a.burger-menu-btn:before {
	content:"\f100";
	font-family: Flaticon;
	font-size: 1.5rem;
	color: #fff;
	opacity: 0;
	-webkit-transition: 0;
	-o-transition: 0;
	transition: 0;
	position: absolute;
	left: 0;
	top: 50%;
    transform: translateY(-50%);	
}
.burger-menu a.burger-menu-btn.active:before {
	opacity: 1;
	-webkit-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
}
.burger-menu a.burger-menu-btn:hover > i {
	width: 100%;
}
header {
	height: 100vh;
	max-height: 900px;
	min-height: 652px;	
	width: 100%;
	display: inline-block;
	background-image: -webkit-linear-gradient(332deg, #8EC5FC 0%, #E0C3FC 100%);
	background-image: -o-linear-gradient(332deg, #8EC5FC 0%, #E0C3FC 100%);
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	overflow: hidden;
}
header:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 39%;
	height: 90%;
	background-color: #b2d7fd;
	background-image: -webkit-linear-gradient(153deg, #b2d7fd 0%, #e1cef3 100%);
	background-image: -o-linear-gradient(153deg, #b2d7fd 0%, #e1cef3 100%);
	background-image: linear-gradient(243deg, #b2d7fd 0%, #e1cef3 100%);
	opacity: .6;
	-moz-border-radius-top-left: 90px;
	-webkit-border-top-left-radius: 90px;
	 border-top-left-radius: 90px;
}
header > .container {
	overflow: hidden;
	margin-top: 4em;
}
header .swiper-container {
	height: calc(92vh - 4em);	
}
header .swiper-slide > .row {
	height: 100%;
	-ms-align-items: center;
	align-items: center;
}
header .swiper-slide svg, .swiper-slide img {
	width: 100%;
	height: auto;
}
header .slider-text h3 {
	font-weight: 800;
    font-family: 'RF Tone';
    font-size: 3.3rem;
    margin: 0 0 .5rem;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    
}
header .slider-text p.slider-text-desc {
	font-size: 1rem;
	margin: 0 0 0 5px;
}
header a.slider_btn_more {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	margin: 2rem 0 0 5px;
	font-size: 1.1rem;
	border: 2px solid #fff;
	border-radius:25px;
	padding: 5px 50px 3px 20px;
	font-weight: 400;
	overflow: hidden;
}
header a.slider_btn_more i {
	position: absolute;
	right: 6px;
    top: 3px;
	color: #b2d7fd;
}
header a.slider_btn_more:after {
	content: '';
	width: 36px;
	height: 37px;
	background-color: #fff;
	border-radius: 25px;
	position: absolute;
	right: 0;
	top: -2px;
	-webkit-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
	z-index: -1;
}
header a.slider_btn_more:hover {color: #b2d7fd;}
header a.slider_btn_more:hover:after {
	width: calc(100% + 2px);
}

header > .header_footer {
	display: inline-block;
	width: 100%;
	height: 8vh;
background-image: -webkit-linear-gradient(153deg, #b2d7fd 25%, rgba(225, 206, 243, 0.0) 100%);
background-image: -o-linear-gradient(153deg, #b2d7fd 25%, rgba(225, 206, 243, 0.0) 100%);
background-image: linear-gradient(243deg, #b2d7fd 25%, rgba(225, 206, 243, 0.0) 100%);

}
header > .header_footer a.scroll_icon i:before {
	font-size: 3.1em;
	color: #fff;
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
display: inline-block;
top: -20px;
left: -20px;
opacity: .8;
}
header > .header_footer ul.header_footer_soc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
	height: 100%;
}
header > .header_footer ul.header_footer_soc li {margin-left: 1.6em;}
header > .header_footer ul.header_footer_soc li a {
	border: 1px solid #fff;
	color: #fff;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-transform: translateY(-25%);
	-moz-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
	-o-transform: translateY(-25%);
	transform: translateY(-25%);
	
}
header > .header_footer ul.header_footer_soc li a i:before {
	margin: 0;
}
header > .header_footer ul.header_footer_soc li a:hover {background-color: #fff}
header > .header_footer ul.header_footer_soc li a:hover > i:before {color: #b2d7fd;}
.parallax-mouse {

    transition: all 0.1s ease;  
}
h2.title-block {
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
	margin: 1.5em 0;
	text-transform: uppercase;
}
section#services {padding-bottom: 4em;}
section#services .d-flex {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;
	-ms-align-items: center;
	align-items: center;
}
section#services .d-flex i {
	margin-bottom: 3em;
}
section#services .d-flex p {margin-bottom: 1.5em;}
section#services .d-flex i:before {
	font-size: 4.5rem;	
	padding: .25em;
	border-radius: 100%;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}
section#services .d-flex:hover > i:before {
	color: #fff;	
}

section#services .d-flex i:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	z-index: -1;
	border-radius: 100%;
	background-image: -webkit-linear-gradient(332deg, #8EC5FC 0%, #E0C3FC 100%);
	background-image: -o-linear-gradient(332deg, #8EC5FC 0%, #E0C3FC 100%);
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
section#services .d-flex:hover > i:after {	
	left: -5px;
	top: -5px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
}
section#services .d-flex p {
	margin-bottom: 1.5em;
}

section#package {
	min-height: 400px;
	width: 100%;
	background-color: #967fc5;
background-image: linear-gradient(36deg, #967fc5 0%, #21d4fd 100%);
	overflow: hidden;
	padding: 4.5em 0 0;
}
section#package:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/globus-bg.png);
	-webkit-background-size: 50%;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
section#package .package-item {
	height: 200px;
	margin-bottom: 1.5em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	color: #fff;
	cursor: pointer;
	background-color: rgba(255,255,255,.1);
}
section#package .package-item:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	opacity: 0;
}
section#package .package-item-2:before {
background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
section#package .package-item-3:before {
	background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}
section#package .package-item-4:before {
background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

}
section#package .package-item:hover:before {
	opacity: 1;
}
section#package .package-item div:first-child {
	padding: 2em 1.5em;
}
section#package .package-item div h4 {
	font-size: 1.9rem;	
}
section#package .package-item i:before {
	font-size: 12rem;
	color: #fff;
	top: -.2em;
}
section#package .swiper-container {
      width: 100%;
      height: 100%;
    }
section#package .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
section#package a.btn-down-scroll {
	display: block;
	width: 194px;
	height: 40px;
	background-image: url(../img/bottom-1.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-top: 3em;
}
section#trafic {
	background-color: #f7f6fb;
	min-height: 400px;
	padding-bottom: 3em;
}

section#trafic .col-12 > div:first-child {
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 100%;
}
section#trafic .swiper-slide {
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);	
    border-radius: 5px!important;
    margin: 1.5em 0;
    min-height: 300px;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}
section#trafic .swiper-container {padding: 0 0 1.3em;}
section#trafic .swiper-slide:hover {
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
-moz-transform: scale(1.02);
-webkit-transform: scale(1.02);
-o-transform: scale(1.02);
-ms-transform: scale(1.02);
transform: scale(1.02);
z-index: 99;
}
section#trafic .swiper-slide .svg-animation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	text-align: center;
	-ms-align-items: center;
	align-items: center;
	justify-content:space-around;
}
section#trafic .swiper-slide .svg-animation > .svg-animation-num {
overflow: hidden;
-webkit-transition: .5s;
-o-transition: .5s;
transition: .5s;
height: 0;
font-size: 1.3rem;
color: #ccc;
}
section#trafic .swiper-slide .svg-animation > .svg-animation-num span {
	font-size: 2.3rem;
	font-weight: bold;	
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section#trafic .swiper-slide:hover > .svg-animation > .svg-animation-num {
height: 40px;

}
section#trafic .swiper-slide h4 {
	font-size: 1.5rem;
    letter-spacing: .15em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
	width: 100%;
	padding: 1em 0;
	text-align: center;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	 border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;	
	
}
section#trafic .swiper-slide:nth-child(2n) > h4, section#trafic .swiper-slide:nth-child(2n) > .btn-pur a, section#trafic .swiper-slide:nth-child(2n) > .price span.num, section#trafic .swiper-slide:nth-child(2n) > .svg-animation > .svg-animation-num > span {
	    background-color: #c280bf!important;
    background-image: linear-gradient(to right,rgba(128,115,178,1) 0,#c280bf 100%);
}
section#trafic .swiper-slide:nth-child(2n+1) > h4, section#trafic .swiper-slide:nth-child(2n+1) > .btn-pur a, section#trafic .swiper-slide:nth-child(2n+1) > .price span.num, section#trafic .swiper-slide:nth-child(2n+1) > .svg-animation > .svg-animation-num > span {

background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}
section#trafic .swiper-slide:nth-child(2n+3) > h4, section#trafic .swiper-slide:nth-child(2n+3) > .btn-pur a, section#trafic .swiper-slide:nth-child(2n+3) > .price span.num, .swiper-button-next-trafic i:before, .swiper-button-prev-trafic i:before, section#trafic .swiper-slide:nth-child(2n+3) > .svg-animation > .svg-animation-num > span {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
section#trafic .swiper-slide .svg-animation svg {
	width: 40%;
	margin: 1em 0;
}
section#trafic .swiper-slide .svg-animation svg #liniya {
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
	-webkit-animation: speed-in 1s;

		-webkit-transform: rotateZ(-170deg);
	-ms-transform: rotateZ(-170deg);
	-o-transform: rotateZ(-170deg);
	transform: rotateZ(-170deg);
}
section#trafic .swiper-slide:hover > .svg-animation svg #liniya {
	animation: speed 2.4s ease forwards;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
}
@keyframes speed-in {
	from { -webkit-transform: rotateZ(-170deg);
	-ms-transform: rotateZ(-170deg);
	-o-transform: rotateZ(-170deg);
	transform: rotateZ(-170deg);}
	30% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	40% {
		-webkit-transform: rotateZ(60deg);
		-ms-transform: rotateZ(60deg);
		-o-transform: rotateZ(60deg);
		transform: rotateZ(60deg);
	}
	50% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	60% {
		-webkit-transform: rotateZ(50deg);
		-ms-transform: rotateZ(50deg);
		-o-transform: rotateZ(50deg);
		transform: rotateZ(50deg);
	}
	70% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	80% {
		-webkit-transform: rotateZ(65deg);
		-ms-transform: rotateZ(65deg);
		-o-transform: rotateZ(65deg);
		transform: rotateZ(65deg);
	}
	90% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	100% {
		-webkit-transform: rotateZ(74deg);
		-ms-transform: rotateZ(74deg);
		-o-transform: rotateZ(74deg);
		transform: rotateZ(74deg);
	}
}
@-webkit-keyframes speed-in {
	from { -webkit-transform: rotateZ(-170deg);
	-ms-transform: rotateZ(-170deg);
	-o-transform: rotateZ(-170deg);
	transform: rotateZ(-170deg);}
	30% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	40% {
		-webkit-transform: rotateZ(60deg);
		-ms-transform: rotateZ(60deg);
		-o-transform: rotateZ(60deg);
		transform: rotateZ(60deg);
	}
	50% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	60% {
		-webkit-transform: rotateZ(50deg);
		-ms-transform: rotateZ(50deg);
		-o-transform: rotateZ(50deg);
		transform: rotateZ(50deg);
	}
	70% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	80% {
		-webkit-transform: rotateZ(65deg);
		-ms-transform: rotateZ(65deg);
		-o-transform: rotateZ(65deg);
		transform: rotateZ(65deg);
	}
	90% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	100% {
		-webkit-transform: rotateZ(74deg);
		-ms-transform: rotateZ(74deg);
		-o-transform: rotateZ(74deg);
		transform: rotateZ(74deg);
	}
}
@-o-keyframes speed-in {
	from { -webkit-transform: rotateZ(-170deg);
	-ms-transform: rotateZ(-170deg);
	-o-transform: rotateZ(-170deg);
	transform: rotateZ(-170deg);}
	30% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	40% {
		-webkit-transform: rotateZ(60deg);
		-ms-transform: rotateZ(60deg);
		-o-transform: rotateZ(60deg);
		transform: rotateZ(60deg);
	}
	50% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	60% {
		-webkit-transform: rotateZ(50deg);
		-ms-transform: rotateZ(50deg);
		-o-transform: rotateZ(50deg);
		transform: rotateZ(50deg);
	}
	70% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	80% {
		-webkit-transform: rotateZ(65deg);
		-ms-transform: rotateZ(65deg);
		-o-transform: rotateZ(65deg);
		transform: rotateZ(65deg);
	}
	90% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	100% {
		-webkit-transform: rotateZ(74deg);
		-ms-transform: rotateZ(74deg);
		-o-transform: rotateZ(74deg);
		transform: rotateZ(74deg);
	}
}
@-moz-keyframes speed-in {
	from { -webkit-transform: rotateZ(-170deg);
	-ms-transform: rotateZ(-170deg);
	-o-transform: rotateZ(-170deg);
	transform: rotateZ(-170deg);}
	30% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	40% {
		-webkit-transform: rotateZ(60deg);
		-ms-transform: rotateZ(60deg);
		-o-transform: rotateZ(60deg);
		transform: rotateZ(60deg);
	}
	50% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	60% {
		-webkit-transform: rotateZ(50deg);
		-ms-transform: rotateZ(50deg);
		-o-transform: rotateZ(50deg);
		transform: rotateZ(50deg);
	}
	70% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	80% {
		-webkit-transform: rotateZ(65deg);
		-ms-transform: rotateZ(65deg);
		-o-transform: rotateZ(65deg);
		transform: rotateZ(65deg);
	}
	90% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	100% {
		-webkit-transform: rotateZ(74deg);
		-ms-transform: rotateZ(74deg);
		-o-transform: rotateZ(74deg);
		transform: rotateZ(74deg);
	}
}

@-webkit-keyframes speed {
	from { -webkit-transform: rotateZ(-170deg);
	-ms-transform: rotateZ(-170deg);
	-o-transform: rotateZ(-170deg);
	transform: rotateZ(-170deg);}
	30% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	40% {
		-webkit-transform: rotateZ(60deg);
		-ms-transform: rotateZ(60deg);
		-o-transform: rotateZ(60deg);
		transform: rotateZ(60deg);
	}
	50% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	60% {
		-webkit-transform: rotateZ(50deg);
		-ms-transform: rotateZ(50deg);
		-o-transform: rotateZ(50deg);
		transform: rotateZ(50deg);
	}
	70% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	80% {
		-webkit-transform: rotateZ(65deg);
		-ms-transform: rotateZ(65deg);
		-o-transform: rotateZ(65deg);
		transform: rotateZ(65deg);
	}
	90% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	100% {
		-webkit-transform: rotateZ(74deg);
		-ms-transform: rotateZ(74deg);
		-o-transform: rotateZ(74deg);
		transform: rotateZ(74deg);
	}
}
@-o-keyframes speed {
	from { -webkit-transform: rotateZ(-170deg);
	-ms-transform: rotateZ(-170deg);
	-o-transform: rotateZ(-170deg);
	transform: rotateZ(-170deg);}
	30% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	40% {
		-webkit-transform: rotateZ(60deg);
		-ms-transform: rotateZ(60deg);
		-o-transform: rotateZ(60deg);
		transform: rotateZ(60deg);
	}
	50% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	60% {
		-webkit-transform: rotateZ(50deg);
		-ms-transform: rotateZ(50deg);
		-o-transform: rotateZ(50deg);
		transform: rotateZ(50deg);
	}
	70% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	80% {
		-webkit-transform: rotateZ(65deg);
		-ms-transform: rotateZ(65deg);
		-o-transform: rotateZ(65deg);
		transform: rotateZ(65deg);
	}
	90% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	100% {
		-webkit-transform: rotateZ(74deg);
		-ms-transform: rotateZ(74deg);
		-o-transform: rotateZ(74deg);
		transform: rotateZ(74deg);
	}
}
@-moz-keyframes speed {
	from { -webkit-transform: rotateZ(-170deg);
	-ms-transform: rotateZ(-170deg);
	-o-transform: rotateZ(-170deg);
	transform: rotateZ(-170deg);}
	30% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	40% {
		-webkit-transform: rotateZ(60deg);
		-ms-transform: rotateZ(60deg);
		-o-transform: rotateZ(60deg);
		transform: rotateZ(60deg);
	}
	50% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	60% {
		-webkit-transform: rotateZ(50deg);
		-ms-transform: rotateZ(50deg);
		-o-transform: rotateZ(50deg);
		transform: rotateZ(50deg);
	}
	70% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	80% {
		-webkit-transform: rotateZ(65deg);
		-ms-transform: rotateZ(65deg);
		-o-transform: rotateZ(65deg);
		transform: rotateZ(65deg);
	}
	90% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	100% {
		-webkit-transform: rotateZ(74deg);
		-ms-transform: rotateZ(74deg);
		-o-transform: rotateZ(74deg);
		transform: rotateZ(74deg);
	}
}
@keyframes speed {
	from { -webkit-transform: rotateZ(-170deg);
	-ms-transform: rotateZ(-170deg);
	-o-transform: rotateZ(-170deg);
	transform: rotateZ(-170deg);}
	30% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	40% {
		-webkit-transform: rotateZ(60deg);
		-ms-transform: rotateZ(60deg);
		-o-transform: rotateZ(60deg);
		transform: rotateZ(60deg);
	}
	50% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	60% {
		-webkit-transform: rotateZ(50deg);
		-ms-transform: rotateZ(50deg);
		-o-transform: rotateZ(50deg);
		transform: rotateZ(50deg);
	}
	70% {
		-webkit-transform: rotateZ(75deg);
		-ms-transform: rotateZ(75deg);
		-o-transform: rotateZ(75deg);
		transform: rotateZ(75deg);
	}
	80% {
		-webkit-transform: rotateZ(65deg);
		-ms-transform: rotateZ(65deg);
		-o-transform: rotateZ(65deg);
		transform: rotateZ(65deg);
	}
	90% {
		-webkit-transform: rotateZ(70deg);
		-ms-transform: rotateZ(70deg);
		-o-transform: rotateZ(70deg);
		transform: rotateZ(70deg);
	}
	100% {
		-webkit-transform: rotateZ(74deg);
		-ms-transform: rotateZ(74deg);
		-o-transform: rotateZ(74deg);
		transform: rotateZ(74deg);
	}
}
section#trafic .swiper-slide ul {
	padding: 1.9em 2em 1.2em;
	min-height: 266px;
}
section#trafic .swiper-slide ul li {
	    padding-top: 14px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(76,76,76,.1);
    border-bottom: 1px solid rgba(76,76,76,.1);	
    color:  rgba(76,76,76,.7);	
}
section#trafic .swiper-slide ul li+li {border-top: 0;}
section#trafic .swiper-slide .price {
	text-align: center;
}
section#trafic .swiper-slide .price span.mo {
	color: #000;
	font-size: 1.1rem;
}
section#trafic .swiper-slide .price span.num {
	color: blue;
	font-size: 2.5rem;
	font-weight: bold;
	vertical-align: middle;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section#trafic .swiper-slide .price span.rub {
	color: #000;
	font-size: 1.1rem;
}
section#trafic .swiper-slide .btn-pur {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
section#trafic .swiper-slide .btn-pur a {
	padding: .7em 1.3em .5em;
	color: #fff;
	border-radius: 5px;
	font-size: 1.2rem;
	text-align: center;
	display: inline-block;
	width: auto;
	text-transform: uppercase;
	-webkit-transform: translateY(45%);
	-moz-transform: translateY(45%);
	-ms-transform: translateY(45%);
	-o-transform: translateY(45%);
	transform: translateY(45%);	
}

p.trafic-block-descr {
	margin: .5em 0 .3em;
	opacity: .6;
	font-size: .85rem
}
p.trafic-block-descr a {color: #212529;}
h3.title-block-h3 {
	font-size: 1.6rem;
	margin-top: 2.3em;
}
.swiper-button-next-trafic i:before, .swiper-button-prev-trafic i:before {
	font-size: 4rem;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swiper-button-next-trafic, .swiper-button-prev-trafic {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);	
	z-index: 9;
}
.swiper-button-prev-trafic {
	left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    	-ms-transform: translateY(-50%) rotate(180deg);
    	-o-transform: translateY(-50%) rotate(180deg);
    	transform: translateY(-50%) rotate(180deg);	
}
.swiper-button-disabled {opacity: .5;}
.swiper-button-next-trafic {
	right: 0;
}

section#home-news {	background-image: -webkit-linear-gradient(332deg, #8EC5FC 0%, #E0C3FC 100%);
	background-image: -o-linear-gradient(332deg, #8EC5FC 0%, #E0C3FC 100%);
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	padding-bottom:5.5em;
	overflow: hidden;
	
}
section#home-news h2.title-block {color: #fff;}
.home-news-posts-left, .home-news-posts-right {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.home-news-posts-left > div, .home-news-posts-right > div {
	overflow: hidden;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	
}
.home-news-posts-left > div > a, .home-news-posts-left > div .post-image, .home-news-posts-right > div > a, .home-news-posts-right > div .post-image {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.home-news-posts-left > div .post-image, .home-news-posts-right > div .post-image {position: absolute;}
.home-news-posts-left > div .post-image	img, .home-news-posts-right > div .post-image	img {
	min-height: 100%;
	min-width: 100%;
}
.home-news-posts-left > div p, .home-news-posts-right > div p {
	z-index: 3;
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
background: -moz-linear-gradient(top,  rgba(194,128,191,0) 0%, rgba(194,128,191,0.8) 58%, rgba(194,128,191,0.81) 61%, rgba(128,115,178,1) 100%);
background: -webkit-linear-gradient(top,  rgba(194,128,191,0) 0%,rgba(194,128,191,0.8) 58%,rgba(194,128,191,0.81) 61%,rgba(128,115,178,1) 100%);
background: linear-gradient(to bottom,  rgba(194,128,191,0) 0%,rgba(194,128,191,0.8) 58%,rgba(194,128,191,0.81) 61%,rgba(128,115,178,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c280bf', endColorstr='#8073b2',GradientType=0 );


	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 1em;
	text-shadow: 0 1px 3px rgba(0,0,0,.4);	
}
.home-news-posts-left > div p::before, .home-news-posts-right > div p::before {
	content: "\f100";
	position: absolute;
	right: 30px;
	bottom: 13px;
	font-family: Flaticon;
	font-size: 1.3rem;
	-webkit-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
	opacity: 0;	
}
.home-news-posts-left > div p:hover::before, .home-news-posts-right > div p:hover::before {
	opacity: 1;
	right: 15px;
}
.home-news-posts-left > div:hover > a > p, .home-news-posts-right > div:hover > a > p {
padding-left: 1.5em;
}
.home-news-posts-left > div:hover, .home-news-posts-right > div:hover {
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);	
}
.home-news-posts-left > div:nth-child(1) {
 flex: 0 2 100%;
 height: 250px;
 margin-bottom: 1em;
}
.home-news-posts-left > div:nth-child(2) {
flex: 0 1 calc(50% - 5px);
margin-right: 10px;
height: 180px;
}
.home-news-posts-left > div:nth-child(3) {
flex: 0 1 calc(50% - 5px);
height: 180px;
}
.home-news-posts-right > div:nth-child(1) {
flex: 0 1 calc(50% - 5px);
height: 180px;
}
.home-news-posts-right > div:nth-child(2) {
flex: 0 1 calc(50% - 5px);
margin-left: 10px;
height: 180px;
}
.home-news-posts-right > div:nth-child(3) {
	margin-top: 1em;
 flex: 0 2 100%;
 height: 250px;
}

footer {
	padding: 4.5em 0 3em;
	color: #6e6e6e;
	font-size: 1rem;
}
footer h4 {
	font-size: 1.4rem;
	color: #4c4c4c;
	margin-bottom: 26px;
	text-transform: uppercase;
	
}
footer ul.footer-links li {
	border-bottom: 1px solid rgba(76,76,76,.1);
}
footer ul.footer-links li:last-child {border-bottom: none;}
footer ul.footer-links li:first-child {margin-top: -15px;}
footer ul.footer-links li a {
	color: #c280bf;
	padding: 15px 0 15px 20px;
	display: block;
	font-size: 1.1rem;
	font-weight: normal;
	
}
footer ul.footer-links li a:hover {
	color: #3197d4;
}
footer ul.footer-links li a:after {
	content: "\f113";
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: Flaticon;
	font-size: .6rem;
    font-weight: bold;
	color: #4c4c4c;
}
footer ul.footer-links-services li a {color: #3197d4;} footer ul.footer-links-services li a:hover {color: #c280bf;}

footer ul.footer-contacts {
	color: #4c4c4c;
	font-weight: bold;
}
footer ul.footer-contacts a {
	font-weight: normal;
	color: #6e6e6e;
	display: block;
}
footer ul.footer-contacts li.mail {margin: .5em 0;}
footer ul.footer-contacts li.mail > a {font-size: 1.1em;}
footer ul.footer-contacts li.mail > a:before {
		content:"\f115";
	font-family: Flaticon;
	font-size: 1.15rem;
    font-weight: bold;
	color: #c280bf;
	margin-right: .6em;
}
footer .footer-adress {margin-top: 20px;}
footer .footer-adress h4 {margin-bottom: 0px;}
footer .footer-adress a {	color: #c280bf;}

section#footer-bottom {
	text-align: center;
	color: #fff;
	font-size: 1rem;
	padding: 1.4em 0 1em; 
	background-image: -webkit-linear-gradient(332deg, #8EC5FC 0%, #E0C3FC 100%);
	background-image: -o-linear-gradient(332deg, #8EC5FC 0%, #E0C3FC 100%);
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

/*BIG Menu*/
#big-menu {
	display: none;
	opacity: 0;
	-webkit-transition: .8s;
	-o-transition: .8s;
	transition: .8s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	z-index: 11;
}
#big-menu.active {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	opacity: 1;
}
#big-menu.active ul.big-menu-list li {margin-bottom: 1em;}
#big-menu.active ul.big-menu-list li a {
	color: #fff;
	font-size: 1.5rem;
	overflow: hidden;
}
#big-menu.active ul.big-menu-list li a:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	opacity: 0;
}
#big-menu.active ul.big-menu-list li a:hover::before {bottom: 1px;opacity: 1;}
body.active-menu section, body.active-menu header, body.active-menu footer, body.active-menu nav .row > div:not(.nav-burger-menu-bg) {
	filter: blur(7px);
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}
body.active-menu {
	overflow: hidden;
	margin-right: 16px;
}

/*BIG Searhc*/
#big-search {
	overflow: hidden;
	height: 0;
	width: 0;
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	display: none;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	z-index: 10;
}
#big-search.active {
	height: 100%;
	width: 100%;
	opacity: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
body.active-menu-search {}
body.active-menu-search section, body.active-menu-search header, body.active-menu-search footer, body.active-menu-search nav .row > div ul, body.active-menu-search nav .row > div .nav-logo, body.active-menu-search nav .row > div a:not(.nav-search-btn) {
	filter: blur(7px);
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
	overflow: hidden;margin-right: 16px;
}
#big-search form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 50%;
}
#big-search input[type='text'] {
	background-color: transparent;
	font-size: 1.4rem;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
	padding: 1em .4em;
	font-weight: normal;
    font-family: 'RF Tone';
    width: calc(100% - 80px);
}
#big-search button {
background-color: transparent;
border: none;
color: #fff;
}
#big-search button > i:before {font-size: 2rem;cursor: pointer;}