@charset "UTF-8";
html {
  min-height: 100%; }

body {
  padding: 0;
  margin: 0; }

* {
  margin: 0;
  padding: 0; }

footer {
  font-family: MVideo,Arial,Helvetica,sans-serif;
  background-color: #dfdfdf;
  color: #333; }
  footer a {
    text-decoration: none; }
  footer ul {
    list-style: none; }

.container {
  max-width: 94rem;
  margin: 0 auto; }

.row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-header {
  padding: 2rem 0 2rem 0; }
  .footer-header .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-header .footer-header_text {
    width: 41rem; }
    .footer-header .footer-header_text i {
      color: #636466;
      font-size: 3rem;
      vertical-align: middle;
      display: table-cell; }
    .footer-header .footer-header_text span {
      vertical-align: middle;
      line-height: normal;
      padding-left: 2rem;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 700;
      display: table-cell; }
  .footer-header form {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 46rem; }
    .footer-header form label {
      -webkit-box-shadow: 0 1px 6px #ccc inset;
              box-shadow: 0 1px 6px #ccc inset;
      background: #fff; }
      .footer-header form label input:not([type="submit"]) {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-style: none;
        margin: 0;
        display: block;
        width: 100%;
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: 0;
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 1rem 1.4rem 1rem 1.4rem;
        height: 4.2rem;
        background: 0 0;
        border-radius: 3px;
        border: 2px solid transparent;
        width: 31rem; }
        .footer-header form label input:not([type="submit"]):focus {
          border-color: #636466; }
    .footer-header form input[type="submit"] {
      display: inline-block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-left: 10px;
      padding: .3rem 2rem;
      border: none;
      font-size: 1.4rem;
      line-height: 1.5rem;
      font-weight: 700;
      height: 4.4rem;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-color: #ed1c24;
      color: #fff;
      border-radius: .4rem;
      outline: 0; }

.footer-main {
  border-top: 1px solid #ccc;
  padding: 2.3rem 0 2.8rem; }
  .footer-main button.accordion {
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    display: inline-block;
    width: auto;
    display: none; }
  .footer-main button.accordion:after {
    content: "";
    font-family: MVideo_icon_font;
    font-size: 14px;
    float: right; }
  .footer-main button.accordion.is-open:after {
    content: ""; }
  .footer-main button.accordion:hover, .footer-main button.accordion.is-open {
    background-color: #ddd; }
  .footer-main .accordion-content {
    max-height: auto;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out; }
  .footer-main .footer-main_menu__item {
    width: 24%;
    padding-right: 3%; }
    .footer-main .footer-main_menu__item a.item__one_child {
      color: #636466;
      min-height: 3.8rem;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 2rem;
      display: block; }
    .footer-main .footer-main_menu__item a.item__one_child-feed {
      display: block;
      margin-bottom: 4em; }
    .footer-main .footer-main_menu__item .footer-nav-item {
      font-size: 1.3rem;
      line-height: 1.6rem;
      padding: .7rem 0 .7rem;
      font-weight: 700; }
      .footer-main .footer-main_menu__item .footer-nav-item a {
        color: #333; }
  .footer-main .footer-main_menu__item-feedback {
    width: 30%;
    padding-right: 0; }
    .footer-main .footer-main_menu__item-feedback a {
      font-weight: bold;
      margin-bottom: 4px; }
  .footer-main .soc {
    margin-top: 4em; }
    .footer-main .soc ul {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 1em; }
      .footer-main .soc ul li {
        width: 10.6%; }
        .footer-main .soc ul li a {
          color: #747f7f;
          border-color: #747f7f;
          background-color: #fff;
          font-weight: 700;
          text-decoration: none;
          font-size: 2.3rem;
          line-height: 3.6rem;
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 2.2rem;
          border: 2px solid #636466;
          text-align: center;
          display: inline-block; }
          .footer-main .soc ul li a:hover {
            color: #ed1c24;
            border-color: #ed1c24; }
          .footer-main .soc ul li a:before {
            font-size: 2.3rem;
            line-height: 3.6rem;
            width: 3.6rem;
            height: 3.6rem;
            font-weight: 400;
            text-align: center; }

.footer-bottom {
  border-top: 0;
  background-color: #ccc;
  overflow: hidden;
  padding: 1.1rem 0 1.3rem;
  font-size: 1.3rem; }
  .footer-bottom .row {
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-bottom .footer-copyright {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px; }
    .footer-bottom .footer-copyright > a {
      margin-right: 20px; }
  .footer-bottom .footer-sub-nav {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-bottom .footer-sub-nav li:last-child {
      margin-left: 15px;
      padding-left: 15px;
      border-left: 1px solid #000; }
    .footer-bottom .footer-sub-nav a {
      font-weight: 700; }

@media (max-width: 650px) {
  .accordion-content {
    max-height: 0; }

  button.accordion {
    display: inline-block !important; } }

/*# sourceMappingURL=footer.css.map */