@import url(fonts/font.css);
@import url(fonts/flaticon.css);
body {
  padding: 0;
  margin: 0;
  font-family: 'Room';
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  background-color: #f0f0f0;
}
* {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: .4s;
  transition: .4s;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
header,
nav,
section {
  width: 100%;
  display: inline-block;
  height: auto;
}
nav {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 99;
}
nav a {
  color: #fff;
  font-size: 1.1em;
}
nav a:hover {
  color: #f48c95;
}
nav.nav_fixed {
  border-bottom: 3px solid #f48c95;
  background-color: rgba(0, 0, 0, 0.8);
}
nav.nav_fixed .nav_fixed_opacity {
  display: none;
}
nav.nav_fixed .nav_logo img {
  width: 102px;
}
nav.nav_fixed ul.menu {
  height: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav.nav_fixed ul.menu li {
  padding: 0;
}
nav.nav_fixed ul.menu li a {
  padding: 0;
  border-bottom: none !important;
}
nav .nav_logo img {
  width: 175px;
}
nav .nav_contacts {
  letter-spacing: 1px;
  padding-top: 1em;
  font-size: 15px;
}
nav .nav_contacts i {
  vertical-align: middle;
  font-size: 1rem;
}
nav .nav_contacts a:nth-child(1) {
  margin-right: 2em;
}
nav .nav_contacts a:nth-child(1):before {
  content: '';
  position: absolute;
  right: -1em;
  top: -3px;
  height: calc(100% + 6px);
  width: 1px;
  background-color: #fff;
}
nav .nav_soclinks {
  padding-top: 1em;
  font-size: 16px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav .nav_soclinks a {
  margin-right: .4em;
  margin-left: 1.5em;
}
nav ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul.menu li {
  font-size: 1.15em;
  padding-top: 2.2em;
}
nav ul.menu li:nth-child(1) > a {
  padding-left: 0;
}
nav ul.menu li a {
  padding: 1.7em .4em;
  border-bottom: 3px solid transparent;
}
nav ul.menu li a:hover {
  border-color: #f48c95;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: left;
  background: #fff;
  min-height: 100vh;
  background-color: #383838;
  background-size: 104%;
  background-attachment: fixed;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
}
.swiper-slide h3 {
  font-size: 3.5em;
  padding-top: calc(134px + .5em);
  width: 80%;
  margin-bottom: 1em;
}
.swiper-slide p.slider_desctop {
  font-size: 1.5em;
  width: 80%;
}
.swiper-slide a {
  color: #f48c95;
  font-size: 1.4em;
  text-shadow: none;
  border-radius: 100px;
  border: 2px solid #f48c95;
  margin-top: 4em;
  display: inline-block;
  padding: .5em 1em;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.swiper-slide a:before,
.swiper-slide a:after {
  content: '';
  position: absolute;
  top: -75%;
  width: 0;
  height: 200%;
  background-color: #f48c95;
  -webkit-transition: .5s;
  transition: .5s;
  left: 0;
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
  z-index: -1;
}
.swiper-slide a:after {
  left: auto;
  right: -2px;
  top: -45%;
}
.swiper-slide a:hover:before,
.swiper-slide a:hover:after {
  width: 50%;
}
.swiper-slide a:hover {
  border-color: #fff;
  color: #fff;
  text-shadow: none;
}
.swiper-slide-active {
  -webkit-animation: shrink 8s infinite alternate;
          animation: shrink 8s infinite alternate;
}
@-webkit-keyframes shrink {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 104%;
  }
}
@keyframes shrink {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 104%;
  }
}
.swiper-pagination-bullet-active {
  background: #f48c95 !important;
}
section#home_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #242424;
}
section#home_about .home_about_left {
  width: calc(50% + 85px);
}
section#home_about .home_about_right {
  width: calc(50% - 85px);
  min-height: 550px;
  background-image: url('https://c.wallhere.com/photos/76/30/face_blonde_sports_bra_women_Candice_Swanepoel_model-313984.jpg!d');
  background-size: cover;
}
section#home_about .home_about_right:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
section#home_about h3 {
  font-size: 3em;
  padding-right: 1.25em;
  margin: 2em 0 .4em;
  display: inline-block;
}
section#home_about h3:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: calc(50% - 3px);
  width: 50px;
  height: 2px;
  background-color: #f48c95;
}
section#home_about p.home_about_desc {
  font-size: 1.35em;
  font-weight: bold;
}
section#home_about p.home_about_text {
  padding-top: 1.25em;
  color: #797979;
  font-size: 1.25em;
}
section#home_about a {
  margin-top: 1.1em;
  padding: .4em 1.5em;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #f48c95;
  text-transform: uppercase;
  font-size: 1.3em;
  display: inline-block;
}
section#home_about a:hover {
  background-color: #383838;
}
section#our_services {
  background-image: url('https://s.yimg.com/uu/api/res/1.2/IHUru5dl0vRjCGAMmnxcrQ--~B/aD0xMDgwO3c9MTkyMDtzbT0xO2FwcGlkPXl0YWNoeW9u/http://media.zenfs.com/en-US/homerun/digital_trends_973/db9729472789add4853cf529e0995c67');
  background-size: cover;
  min-height: 500px;
  color: #f48c95;
  padding-bottom: 5em;
}
section#our_services:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.95);
}
section#our_services h3 {
  font-size: 3em;
  padding-right: 1.25em;
  margin: 2em 0 .4em;
  display: inline-block;
  color: #f48c95;
}
section#our_services h3:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: calc(50% - 3px);
  width: 50px;
  height: 2px;
  background-color: #f48c95;
}
section#our_services p.our_services_desc {
  padding-bottom: 2.25em;
  color: #797979;
  font-size: 1.25em;
}
section#our_services .our_services_items {
  background-image: url('https://s.yimg.com/uu/api/res/1.2/IHUru5dl0vRjCGAMmnxcrQ--~B/aD0xMDgwO3c9MTkyMDtzbT0xO2FwcGlkPXl0YWNoeW9u/http://media.zenfs.com/en-US/homerun/digital_trends_973/db9729472789add4853cf529e0995c67');
  background-size: cover;
  min-height: 200px;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 38px 25px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  cursor: pointer;
}
section#our_services .our_services_items:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  -webkit-transition: .4s;
  transition: .4s;
}
section#our_services .our_services_items h4 {
  color: #383838;
  font-size: 1.2em;
  margin-bottom: .3em;
}
section#our_services .our_services_items p {
  color: #797979;
}
section#our_services .our_services_items i:before {
  font-size: 3.5em;
  padding-right: .2em;
  margin-left: 0;
}
section#our_services .our_services_items:hover * {
  color: #fff;
}
section#our_services .our_services_items:hover:before {
  background-color: rgba(244, 140, 149, 0.75);
}
section#informer_block {
  background-image: url('http://designarc.biz/demos/fitzeous/theme/images/fitness-course-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 95px 0 80px;
}
section#informer_block h3 {
  font-size: 2.7em;
  display: inline-block;
  margin-bottom: .4em;
  color: #f48c95;
}
section#informer_block h3:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: calc(50% - 3px);
  width: 50px;
  height: 2px;
  background-color: #f48c95;
}
section#informer_block p {
  color: #fff;
  font-size: 1.3em;
}
section#informer_block a {
  margin-top: 1.5em;
  padding: .6em 1.5em;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #f48c95;
  text-transform: uppercase;
  font-size: 1.4em;
  display: inline-block;
}
section#informer_block a:hover {
  background-color: #383838;
}
section#home_gallery {
  background-color: #fff;
  min-height: 450px;
  padding: 3em 0;
}
section#home_gallery h3 {
  font-size: 2.7em;
  display: inline-block;
  margin-bottom: .4em;
  color: #f48c95;
}
section#home_gallery h3:before {
  content: '';
  position: absolute;
  right: -60px;
  bottom: calc(50% - 3px);
  width: 50px;
  height: 2px;
  background-color: #f48c95;
}
section#home_gallery p {
  color: #797979;
  font-size: 1.3em;
  margin-bottom: 2em;
}
section#home_gallery .home_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}
section#home_gallery .home_gallery .home_gallery_item:nth-child(3n+1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
section#home_gallery .home_gallery .home_gallery_item:nth-child(3n+2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
section#home_gallery .home_gallery .home_gallery_item:nth-child(3n) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
section#home_gallery .home_gallery::before,
section#home_gallery .home_gallery::after {
  content: "";
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
section#home_gallery .home_gallery .home_gallery_item {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  overflow: hidden;
}
section#home_gallery .home_gallery .home_gallery_item:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 15px solid rgba(56, 56, 56, 0.18);
  z-index: 10;
  -webkit-transition: .34s;
  transition: .34s;
  pointer-events: none;
}
section#home_gallery .home_gallery .home_gallery_item:before {
  content: '';
  position: absolute;
  left: -115px;
  top: -115px;
  width: 200%;
  height: 200%;
  border: 15px solid rgba(56, 56, 56, 0.1);
  z-index: 10;
  -webkit-transition: .4s;
  transition: .4s;
  pointer-events: none;
}
section#home_gallery .home_gallery .home_gallery_item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
section#home_gallery .home_gallery .home_gallery_item a span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.3em;
  z-index: 10;
  padding: 10px;
  opacity: 0;
}
section#home_gallery .home_gallery .home_gallery_item a span:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 140, 149, 0.3);
  pointer-events: none;
  z-index: -1;
}
section#home_gallery .home_gallery .home_gallery_item a span:after {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 140, 149, 0.3);
  pointer-events: none;
  z-index: -1;
}
section#home_gallery .home_gallery .home_gallery_item:hover span {
  opacity: 1;
}
section#home_gallery .home_gallery .home_gallery_item:hover:before {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  left: 15px;
  top: 15px;
}
section#home_gallery .home_gallery .home_gallery_item:hover:after {
  border: 15px solid rgba(56, 56, 56, 0.6);
}
section#home_gallery .home_gallery .home_gallery_item img {
  display: block;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
}
.more_href {
  display: inline-block;
  text-align: center;
  padding: .5em 1.3em;
  border: 1.5px solid #f48c95;
  color: #f48c95;
  text-transform: uppercase;
  font-size: 1.2em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 1em 0;
}
.more_href:hover {
  background-color: #f48c95;
  color: #fff;
}
section#feedback {
  background-image: url('images/slider/slider_2.jpg');
  background-size: cover;
  min-height: 500px;
}
section#feedback:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 140, 149, 0.85);
}
section#feedback form {
  padding: 2em;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.1), -5px 0px 5px 0px rgba(50, 50, 50, 0.1);
          box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.1), -5px 0px 5px 0px rgba(50, 50, 50, 0.1);
  margin: 4em 0;
}
section#feedback form h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: .5em;
}
section#feedback form input {
  background-color: transparent;
  font-size: 1em;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  padding: .5em;
  margin: 0 0 1.5em;
  width: 100%;
}
section#feedback form button {
  display: block;
  font-size: 1.2em;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  padding: .4em;
  background-color: #f48c95;
  border: none;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.1), -5px 0px 5px 0px rgba(50, 50, 50, 0.1);
          box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.1), -5px 0px 5px 0px rgba(50, 50, 50, 0.1);
}
footer {
  background-color: #1d1d1d;
  padding: 60px 0;
  color: #545454;
  font-size: 1.1em;
}
footer .lates {
  background: #181818;
  border: 1px solid #3e3e3e;
  padding: 30px 40px;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 2em;
}
footer .lates input {
  border: 1px solid #303030;
  background-color: #131313;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.702);
  width: 100%;
  font-size: .7em;
  font-family: 'Room';
  font-weight: 100;
  font-style: normal;
}
footer .lates button {
  width: 100%;
  padding: 10px 0;
  font-size: .7em;
  color: #fff;
  background-color: #f48c95;
  text-align: center;
  border: none;
  font-family: 'Room';
  font-weight: 100;
  font-style: normal;
  border-radius: 50px;
}
footer img {
  width: 70%;
  margin-bottom: .5em;
}
footer h4 {
  margin: 1.5em 0  1em;
  font-size: 1.4em;
  color: #fff;
  padding-bottom: .9em;
}
footer h4:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background-color: #f48c95;
}
footer ul li {
  margin-bottom: .5em;
}
footer ul li a {
  color: #fff;
  font-size: 1em;
}
footer .footer_soclinks {
  margin-top: 1.5em;
}
footer .footer_soclinks a {
  color: #ffff;
}
footer .footer_contacts p {
  margin-bottom: .5em;
}
section#footer_bottom {
  background-color: #171717;
  padding: 1em 0;
  color: #545454;
}
