@font-face {
    font-family: 'RF Tone';
    src: local('RF Tone Regular'), local('RF-Tone-Regular'),
        url('RFTone-Regular.woff2') format('woff2'),
        url('RFTone-Regular.woff') format('woff'),
        url('RFTone-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'RF Tone';
    src: local('RF Tone ExtraBold'), local('RF-Tone-ExtraBold'),
        url('RFTone-ExtraBold.woff2') format('woff2'),
        url('RFTone-ExtraBold.woff') format('woff'),
        url('RFTone-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }