@media (max-height: 700px) {
	#one-page .title-page h1 {padding-top: .4em;}
	#three-page h2 {font-size: 2.2rem;margin: .5em 0;}
}
@media (max-height: 600px) {
	#three-page .row > .video-block > iframe {min-height: 170px;}
	#one-page .title-page h1 {font-size: 2rem;}
	#one-page .title-page h1 p {font-size: 3rem;}
	#one-page .map {height: 140px;}
	.cam-1 {height: 80%;}
}
@media (max-width: 992px) {
	#two-page, #one-page, #three-page, #four-page {
		overflow: hidden;
		
	}
	.slider-nav {display: none;}
	#one-page .row > div:nth-child(1) {width: 60%;}
	.cam-1 {height: auto;margin-bottom: 2em;}
	#one-page .title-page h1 p {
		font-size: 4rem;
		margin-bottom: 25px;
	}
	#two-page .row > div:nth-child(1) {width: 35%;}
	#two-page .row > div:nth-child(2) ul > li .text h4 {font-size: .9rem;margin-bottom: 2em;}
	#two-page .row > div:nth-child(2) ul > li .text {
		-webkit-transform: translateY(65%);
		-moz-transform: translateY(65%);
		-ms-transform: translateY(65%);
		-o-transform: translateY(65%);
		transform: translateY(65%);
		width: 100%;
	}
	#three-page h2 {margin: 1.5em 0;}
}

@media (max-width: 768px) {
	#one-page .header-page-one__phone {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		& > a {margin-bottom: 5px;}
	}
	#one-page .row {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	#one-page .row > div:nth-child(1), #one-page .row > div:nth-child(2), #two-page .row > div:nth-child(1), #two-page .row > div:nth-child(2) {width: 100%;}
	#one-page .map {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;	
	}
	.cam-1 {display: none;}
	button.btn {
		margin: 1em 0;
	}
	#one-page .row > div:nth-child(2) {-ms-align-items: center;
	align-items: center;}

	#two-page {
		.row {
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
		}
	}
	#two-page .row > div:nth-child(1) {min-height: auto;padding: 15px 0;}
	#two-page .row > div:nth-child(2) ul > li .text {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		
	}
	#two-page .row > div:nth-child(2) ul {padding-bottom: 2em;}
	#three-page .row {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	#three-page .row > .video-block {width: 100%;}
	#four-page .row form h2 {font-size: 3rem;}
	#four-page .row form p {font-size: 1.3rem;}
}

@media (max-width: 500px) {
	#one-page .map p.name {padding: 0;}
	#two-page .row > div:nth-child(2) ul > li {
		width: 50%;
		height: 250px;
	}
	#four-page .row form {width: 100%;}
	#four-page .row form h2 {font-size: 2.7rem;}
	#four-page .row form p {font-size: 1.15rem;}
}